@*@model  Eco_Colocation.ViewModel.PeopleSearchingViewModel*@
@{
	ViewBag.Title = "Index";
}

<div id="peopleSearching">
	<h3 id="titleSearching">150 personnes recherchent en Bretagne</h3>
	<div id="divPanelPl">
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
			<div id="divPeoplesSearching" class="col-lg-3 col-sm-4 col-xs-6">
				<a id="divPeopleSearching" class="col-sm-9 col-xs-9" href="/PeopleSearching/ModalPeopleSearch" rel="modal:open">
					<div id="divImgPlSch">
						<div id="imgPlSch" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;">
							<img src="https://img.icons8.com/ios/50/000000/like.png">
						</div>
					</div>
					<div id="divContenuPlSch">
						<div>
							<p>Victoire</p>
							<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg">
						</div>
						<p id="statutPl">Etudiante, 22 ans</p>
						<p>Budget max de 450 €</p>
						<div id="descriptionPl">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être...
						</div>
						<div id="divMembrePl">Membre depuis 6 jours</div>

						<div id="logoPl">
							<img src="https://img.icons8.com/small/32/000000/visible.png">
							<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
						</div>
					</div>
				</a>
			</div>
		</div>
	<div class="pagination">
		<a href="#">&laquo;</a>
		<a href="#">1</a>
		<a class="active" href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">&raquo;</a>
	</div>
</div>
