
@{
	ViewBag.Title = "ModalPeopleSearch";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalPeopleSearch" class="reelModal">
		<div id="divMessage-ml">
			<img onclick="displayPVMessage()" src="https://img.icons8.com/material-outlined/40/000000/circled-chevron-left.png">
			<div class="col-sm-6 col-xs-12" style="padding:0">
				@Html.Partial("~/Views/SearchColoc/PartialViewMessage.cshtml")
			</div>
		</div>
		<div id="divPhoto-ml">
			<div id="div-photos-mpc" class="col-sm-6 col-xs-12">
				<div class="photo-mpc mySlides" id="img-mps" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/profile_pictures/3be2c07f20221b84fdc52e32c5cd4f9e_large.jpg) 50% 50% no-repeat;"></div>
			</div>
		</div>
		<div id="div-description-mpc" class="col-sm-6 col-xs-12 fontFamilyNote">
			<div id="d1-description-mpc">
				<div id="d1-description-mpc" style="display: flex;">
					<div style="margin-left: auto;margin-right: auto;display: flex;margin-bottom:10px">
						<div id="d1-3-description-mpc" class="col-sm-12 col-xs-12" style="margin-left: auto;margin-right: auto;">
							<h4 style="text-align:center">Victoire</h4>
							<p style="text-align:center;margin: 0;">22 ans, Salariée</p>
							<p style="text-align:center">Budjet max de 450 €</p>
							<p id="p-d1-3-description-mpc">Membre depuis 3 jours</p>
						</div>
					</div>
				</div>
				<div style="display:flex; margin-bottom:10px">
					<div style="margin-left:auto;margin-right:auto">
						<div class="d3-1-description-mpc btnGreen" onclick="displayPhoneNumber('#numberPhone-mps')">
							<i class="fas fa-phone imgBtnContact-mpc"></i>
							<span id="libelleTelephone-mpc">Afficher le numéro</span>
							<span id="numberPhone-mps"></span>
						</div>
						<div id="d3-2-description-mpc" onclick="displayPVMessage();$('#modalLocation').scrollTop(0);" class="btnGreen">
							<i class="far fa-envelope imgBtnContact-mpc"></i>Envoyer un message
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12">
					<div id="div2PersonnalitePC" style="width: initial;">
						<p style="text-align: center;">
							Salarié à Hipoco dans la décoration. J'envisage aujourd'hui de faire une eco-colocation pour être davantage au contact de la nature mais
							également des animaux. Mon métier est également une passion pour moi, je construis de nombreux objets de décoration. Je souhaiterais donc pouvoir avoir un atelier. En espérant pouvoir partager celui-ci avec mes futures eco-coloc.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page',
			'/Modal/ModalPeopleSearch/?idModal=' + @ViewData["idModal"] + "&targetCity=" + "@ViewData["targetCity"]");
	});
</script>