
@{
	ViewBag.Title = "ModalMessage";
	var idModal = (string)ViewData["elementId"]; ;
	var viewPageName = (string)ViewData["viewPageName"]; ;
	//var viewPageName = Model.viewPageName
}

<div id="partialViewMessage">
	<div id="divTitre-pvm">
		<h2 class="Envoyer un message">Envoyer un message</h2>
	</div>
	<div id="divInput-pvml" class="divInput-pvml">
		<div class="div1Input-pvm col-sm-12">
			<div class="div2Input-pvm">
				<div id="div3InputNom-pvm" class="div3Input-pvm col-sm-6">
					<input id="Nom" name="Nom" placeholder="Votre nom *" type="text">
				</div>
				<div class="div3Input-pvm col-sm-6">
					<input id="Prenom" name="Prenom" placeholder="Votre prénom *" type="text">
				</div>
			</div>
		</div>
		<div class="div1Input-pvm col-sm-12">
			<div class="div2Input-pvm">
				@Html.TextBox("Email", null, new { @placeholder = "Votre Email" })
			</div>
		</div>
		<div class="div1Input-pvm col-sm-12">
			<div class="div2Input-pvm">
				@Html.TextBox("Sujet", null, new { @placeholder = "Sujet" })
			</div>
		</div>
		<div class="div1Input-pvm col-sm-12">
			<div class="div2Input-pvm">
				<textarea placeholder="Message *"></textarea>
			</div>
		</div>
	</div>
	<div class="div1Input-pvm col-sm-12" style="margin-top: 20px;">
		<div class="div2Input-pvm">
			<div id="btnSendMsg-pvm" onclick="addOperationRealized_sp('@viewPageName', '@idModal');sendMsgToEmail('#popupMsgSend-merev')">
				Envoyer l'email
				<i class="fas fa-spinner" id="loadSendMsg-pvm"></i>
			</div>
			@* Revoir le onclick, dire qu'il faut que le formulaire soit validé *@
		</div>
	</div>
	<div class="flex" id="popupMsgSend-merev">
		<p class="childFlex childFlexVertical">Votre message à bien été envoyé.</p>
	</div>
</div>
