@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "Index";
	ViewBag.urlCurrentPage = "/ColocAnnounce/Index";
}
<div id="colocAnnounce">
	<div id="divNbPeopleSearch-ca" class="fontFamilyNote">
		<a href="#peopleSearching" id="btnPeopleSearch-ca">
			<p id="localisation-ca">Rennes</p>
			<p id="nbPeopleSearching-ca">Voir les 150 personnes qui recherchent</p>
			<div class="flex">
				<p class="childFlex" id="infoLocalisation-ca">En bas de la page</p>
			</div>
		</a>
	</div>
	<div id="divLibellePropose">
		@if (ViewData["changeTitle"] != null && ViewData["changeTitle"].ToString() != "")
		{
			<h3 style="text-align: center;" class="title">Mes annonces et mes projets</h3>
		}
		else
		{
			<h3 style="text-align: center;" class="title">Je propose une éco-colocation</h3>
		}
	</div>
	<div id="divRubriqueRecherche" class="fontFamilyNote">
		<div id="sousDivRubriqueRecherche" style="width: 650px;">
			<div id="annonceRubrique" class="col-sm-6 col-xs-12">
				<h3 id="annonceRubrique2" onclick="annonceLocationPage();">Mes annonces de locations</h3>
			</div>
			<div id="creationRubrique" class="col-sm-6 col-xs-12">
				<h3 id="creationRubrique2" onclick="projetCreationPage();">
					Mes projets de créations
					<i class="fas fa-question-circle" id="descriptionProjetCreationRubrique"
					   onmouseover="showPopUpInfo('#descriptionProjetCreationRubrique', '#divInfoProjetCreationRubrique')"></i>
				</h3>
				<div id="divInfoProjetCreationRubrique">
					<p>Le projet de création d'une éco-colocation est un projet qui n'a pas encore été abouti mais qui a déjà été réfléchi préalablement. Il deviendra généralement concret si d'autres personne s'allie sur ce même projet.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="annonceLocation">
		@Html.Partial("~/Views/ColocAnnounce/AnnonceLocation.cshtml", Model.ColocAnnounceViewModel)
	</div>
	<div id="projetCreation">
		@Html.Partial("~/Views/ColocAnnounce/ProjetCreation.cshtml", Model.ColocAnnounceViewModel)
	</div>
</div>

<div id="partialViewPeopleSearching">
	@Html.Partial("~/Views/PeopleSearching/Index.cshtml")
</div>

<script language="javascript">
	$(document).ready(function () {
		$('#_PictureHeader').css('display', "block")

		updateSwitcher('offering');
	});
</script>