
@{
	ViewBag.Title = "ProjetCreation";
}
<div id="div1-1-al" class="col-sm-12">
	<div id="div1-2-ProjetCreation-al">
		<a href="@Url.Action("ModalProjetCreation","ColocAnnounce",null)" rel="modal:open">
			<div id="btnCreer-al">Creer un projet de création</div>
		</a>
	</div>

	<div id="div1PC" class="col-sm-12">
		@Html.Partial("~/Views/Shared/ProjetCreation/ProjetCreationPV.cshtml")
	</div>
</div>
