@{
    ViewBag.Title = "_FooterPartial";
}
<footer id="footer" class="classic">
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-widget-area"><div class="footer_widget"><h5 class="widget-title"><span>Agence Kalixo</span></h5><div class="textwidget"><p>23 rue Lesage<br> 35000 RENNES<br> <strong>02 56 01 11 10</strong></p></div></div></div><div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 second-widget-area"><div class="footer_widget"><h5 class="widget-title"><span>Présentation</span></h5><div class="menu-footer-menu1-container"><ul id="menu-footer-menu1" class="menu"><li id="menu-item-7451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7451"><a href="https://www.kalixo.fr/design-marketing/">Design &amp; Marketing</a></li><li id="menu-item-7450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7450"><a href="https://www.kalixo.fr/creation-graphique/">Création graphique</a></li><li id="menu-item-7449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7449"><a href="https://www.kalixo.fr/solutions-techniques-developpement/">Solutions techniques</a></li><li id="menu-item-7486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7486"><a href="https://www.kalixo.fr/nos-realisations/">Nos réalisations</a></li><li id="menu-item-7452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7452"><a href="https://www.kalixo.fr/cas-clients/">Cas clients</a></li></ul></div></div></div><div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 third-widget-area"><div class="footer_widget"><h5 class="widget-title"><span>Autres liens</span></h5><div class="menu-autres-liens-container"><ul id="menu-autres-liens" class="menu"><li id="menu-item-7609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7609"><a href="https://www.kalixo.fr/nous-contacter/">Nous contacter</a></li><li id="menu-item-7606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7606"><a href="https://www.kalixo.fr/politique-de-confidentialite/">Politique de confidentialité</a></li><li id="menu-item-6403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6403"><a href="https://www.kalixo.fr/cookies/">Cookies</a></li><li id="menu-item-7945" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7945"><a href="https://www.kalixo.fr/acces-donnees-rgpd/">RGPD – Accès à vos données</a></li></ul></div></div></div><div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 forth-widget-area">
                    <div class="widget_text footer_widget">
                        <div class="textwidget custom-html-widget">Suivez-nous sur les Réseaux Sociaux</div>
                    </div>
                    <div class="&quot;footer_widget&quot;">
                        <div class="socials-widget">
                            <a href="https://fr-fr.facebook.com/agence.Kalixo" target="_blank">
                                <span class="fa fa-facebook"></span>
                            </a> <a href="https://twitter.com/agencekalixo" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a> <a href="https://www.pinterest.fr/kalixo/" target="_blank">
                                <span class="fa fa-pinterest"></span>
                            </a> <a href="https://fr.linkedin.com/company/kalixo" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a> <a href="https://www.instagram.com/agencekalixo/" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="lower-footer">
        <div class="container">
            <div class="pull-left">
                <span>Site web Eco-colocation. © Droits réservés 2019 </span>
            </div><div class="pull-right"></div>
        </div>
    </div>
</footer>

