@{
    ViewBag.Title = "_NavPartial";
}

<nav id="navBarMenu" class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="menubar">
        <div class="container">
            <div id="logo">
                <a class="logo" href="">
                    <img class="fixed-logo lazyloading" src="https://www.kalixo.fr/wp-content/uploads/2018/04/logo_kalixo.png" width="228" height="59" alt="Agence Kalixo" data-was-processed="true">
                </a>
            </div>
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><div class="mobile-cart"></div>
            </div>
            <div id="main-menu" class="collapse navbar-collapse  navbar-right">
                <ul id="menu-main_menu" class="nav navbar-nav">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a class="nav-link" title="Design &amp; Marketing" href="https://www.kalixo.fr/design-marketing/">Design &amp; Marketing</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a class="nav-link" title="Création graphique" href="https://www.kalixo.fr/creation-graphique/">Création graphique</a>
                    </li>                    
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a class="nav-link" title="Nos clients" href="https://www.kalixo.fr/cas-clients/">Nos clients</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a class="nav-link" title="Nous contacter" href="https://www.kalixo.fr/nous-contacter/">Nous contacter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
