@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "_PictureHeader";
}
<div class="parallax-window" data-parallax="scroll" data-image-src="/Content/Images/Autres/coverPicture.jpg">
	@using (Html.BeginForm("TypeRecherche", "Home"))
	{
		<div id="switcher-wrapper">
			<div id="divGlobal1-sw">
				<div id="divGlobal2-sw">
					<div id="sous-switcher-wrapper">
						<input id="btnCherche" type="button" value="Je recherche une éco-colocation" onclick="selectSwitcher(this);">
						<input id="btnProposition" type="button" value="Je propose une éco-colocation" onclick="selectSwitcher(this);">
					</div>
					@Html.HiddenFor(m => Model.HomeViewModel.TypeRecherche, new { @id = "typeRecherche" })
					<div class="input-group" id="adv-search">
						<input id="inputSearchPlace-ph" oninput="addr_searchCity(this);" name="@ViewData["randomInputAutoComplete"]" autocomplete="off" type="text"
							   class="form-control inputSearchPlace" placeholder="Où recherchez-vous ?" >
						@*<input type="search" id="address-input-ph" class="address-input inputSearchPlace" placeholder="Saisir un lieu. Ex: Ville, Département, Région" />*@
						<div class="input-group-btn">
							<div id="divBtnFiltre" class="btn-group" role="group">
								<div id="div2BtnFiltre" class="dropdown dropdown-lg">
									<button id="btnSearch" type="submit" class="btn btn-primary fontFamilyNote">
										<p>Rechercher</p>
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@*<script type="text/javascript">
	$(document).ready(function () {
		//initAutoComplete('#address-input-ph');

	})
</script>*@