@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "_PictureHeader";
}
<div class="parallax-window" data-parallax="scroll" data-image-src="/Content/Images/Autres/coverPicture.jpg">
	@using (Html.BeginForm("TypeRecherche", "EcoRoommateHome"))
	{
		<div id="switcher-wrapper">
			<div id="divGlobal1-sw">
				<div id="divGlobal2-sw">
					<div id="sous-switcher-wrapper">
						<input id="btnCherche" type="button" value="Je recherche une éco-colocation" onclick="selectSwitcher(this);">
						<input id="btnProposition" type="button" value="Je propose une éco-colocation" onclick="selectSwitcher(this);">
					</div>
					@Html.HiddenFor(m => Model.EcoRoommateVM.TypeRecherche, new { @id = "typeRecherche", @value = "ah" })
					@*<input id="typeRecherche" name="@Model.EcoRoommateHomeModel.TypeRecherche" type="hidden" value="@ViewData["currentTab"]">*@
					<div class="input-group flex overflow" id="adv-search">
						<div class="flex">
							<div class="childFlex">
								<select id="typeResearchSct-ph" class="form-control typeResearchSct" onchange="typeOfResearchLocation(this, '#inputSearchPlace-ph')">
									<option value="communes" selected>Communes</option>
									<option value="departements">Départements</option>
									<option value="regions">Régions</option>
									<option value="france">Toute la France</option>
								</select>
							</div>
						</div>
						<input id="inputSearchPlace-ph" oninput="addr_searchCity(this);checkToDisableLstOrNot(this, '#typeResearchSct-ph')" type="text"
							   class="form-control inputSearchPlace" placeholder="Veuillez indiquer la commune concernée *">
						@*<input type="search" id="address-input-ph" class="address-input inputSearchPlace" placeholder="Saisir un lieu. Ex: Ville, Département, Région" />*@
					</div>
					<div id="placeSaved-ph">
						<div class="flex" id="place-ph">
						</div>
					</div>
					<div class="input-group-btn">
						<div id="divBtnFiltre" class="btn-group" role="group">
							<div id="div2BtnFiltre" class="dropdown dropdown-lg">
								<button id="btnSearch" type="submit" class="btn btn-primary fontFamilyNote">
									<p>Rechercher</p>
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>