@model  Eco_Colocation.ViewModel.SearchColocViewModel
@{
	ViewBag.Title = "AnnonceLocation";
}

<div class="onHoverMarker" id="onHoverMarker1">
	<div id="divPrixAnnonce">
		<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
	</div>
	<div id="markerPhoto" class="col-md-5 col-xs-5">
		<img class="img-responsive col-xs-12" src="https://lcdcfrance-prod.s3.amazonaws.com/pictures/5971704b03891a82ae95f895a7700705_small.jpg" style="padding: 0;">
	</div>
	<div id="description" class="col-md-7 col-xs-7">
		<h5>Maison 1</h5>
		<p>80m² pour 5 pièces</p>
		<p>3 autres colocataires</p>
		<p>Disponible le 15/12/2019</p>
		<p>Allée du boulemier au pré</p>
	</div>
</div>

<div class="onHoverMarker" id="onHoverMarker2">
	<div id="divPrixAnnonce">
		<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
	</div>
	<div id="markerPhoto" class="col-md-5 col-xs-5">
		<img class="img-responsive col-xs-12" src="https://lcdcfrance-prod.s3.amazonaws.com/pictures/5971704b03891a82ae95f895a7700705_small.jpg" style="padding: 0;">
	</div>
	<div id="description" class="col-md-7 col-xs-7">
		<h5>Maison 1</h5>
		<p>80m² pour 5 pièces</p>
		<p>3 autres colocataires</p>
		<p>Disponible le 15/12/2019</p>
		<p>Allée du boulemier au pré</p>
	</div>
</div>
<div id="divMapSearchColoc" class="col-md-6 col-sm-12">
	<div id="mapSearchColoc">

	</div>
</div>
@*****@

<div id="divDivBlocAnnonce" class="col-md-6 col-sm-12">
	<div style="margin-bottom: 15px;" class="col-xs-12">
		@Html.Partial("~/Views/SearchColoc/FiltresAnnonceLocation.cshtml")
	</div>
	@Html.Partial("~/Views/Shared/AnnonceLocation/AnnonceLocationPV.cshtml")
</div>
