@model  Eco_Colocation.ViewModel.SearchColocViewModel
@{
	ViewBag.Title = "AnnonceLocation";
}

<div class="onHoverMarker" id="onHoverMarker1">
	<div id="divPrixAnnonce">
		<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
	</div>
	<div id="markerPhoto" class="col-md-5 col-xs-5">
		<img class="img-responsive col-xs-12" src="https://lcdcfrance-prod.s3.amazonaws.com/pictures/5971704b03891a82ae95f895a7700705_small.jpg" style="padding: 0;">
	</div>
	<div id="description" class="col-md-7 col-xs-7">
		<p class="nameColoc-al">Maison de 5 collocataires</p>
		<p class="fontFamilyNote centerText underTitlePopup-al">1 chambre disponible dès le 11/12/2019</p>
		<p class="descriptionHabitat-al fontFamilyNote">Nous recherchons 2 hommes pour amener une mixité...</p>
	</div>
	<div id="divLinkDetailEvent-erevom" class="col-xs-12">
		<a id="annonceLocationPVLink-1" class="linkDetailEvent-al" rel="modal:open" href="@Url.Action("ModalLocation","SearchColoc", new { @idModal = "1" })">
			<i id="iconDetailEvent-erevom" class="fas fa-angle-double-right"></i>
			<p class="fontFamilyNote">En savoir plus</p>
		</a>
	</div>
</div>
<div class="onHoverMarker" id="onHoverMarker2">
	<div id="divPrixAnnonce">
		<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
	</div>
	<div id="markerPhoto" class="col-md-5 col-xs-5">
		<img class="img-responsive col-xs-12" src="https://lcdcfrance-prod.s3.amazonaws.com/pictures/5971704b03891a82ae95f895a7700705_small.jpg" style="padding: 0;">
	</div>
	<div id="description" class="col-md-7 col-xs-7">
		<p class="nameColoc-al">Maison de 5 collocataires</p>
		<p class="fontFamilyNote centerText underTitlePopup-al">2 chambres disponibles dès le 12/12/2019</p>
		<p class="descriptionHabitat-al fontFamilyNote">Nous recherchons 2 hommes pour amener une mixité...</p>
	</div>
	<div id="divLinkDetailEvent-erevom" class="col-xs-12">
		<a id="annonceLocationPVLink-2" class="linkDetailEvent-al" rel="modal:open" href="@Url.Action("ModalLocation","SearchColoc", new { @idModal = "2" })">
			<i id="iconDetailEvent-erevom" class="fas fa-angle-double-right"></i>
			<p class="fontFamilyNote">En savoir plus</p>
		</a>
	</div>
</div>

<div class="col-md-6 col-sm-12" id="globalDivMapSearchColoc">
	<div id="divMultiPlaceToSearch-al" class="flex">
		<div id="underDivMultiPlaceToSearch-al" class="flex">
			<label for="inpMultiPlace-al"><i class="fas fa-map-marker-alt" id="iMarkerMultiPlace-al"></i></label>
			<input type="text" placeholder="Rajouter des regions" id="inpMultiPlace-al" oninput="addr_searchRegion(this);" autocomplete="off">
			@*<input type="text" placeholder="Rajouter des départements" id="inpMultiPlace-al" oninput="addr_searchDepartement(this);" autocomplete="off">*@
		</div>
		<div class="flex" id="divAllMultiPlace-al">
			<div id="place1" class="divMultiPlace-al"><p id="placeName-cpc" class="placeName-cpc">Bretagne</p><div class="crossPlace-cpc"><i onclick="deletePlace(place1)" class="fas fa-times crossPlace-cpc"></i></div></div>
		</div>
	</div>
	<div id="divMapSearchColoc"><div id="mapSearchColoc"></div></div>
</div>
@*****@

<div id="divDivBlocAnnonce" class="col-md-6 col-sm-12">
	<div id="divDivBlocAnnonce2" class="col-xs-12">
		@Html.Partial("~/Views/SearchColoc/FiltresAnnonceLocation.cshtml")
	</div>
	@Html.Partial("~/Views/Shared/AnnonceLocation/AnnonceLocationPV.cshtml")
</div>