
@{
	ViewBag.Title = "FiltresLocation";
}
<div id="divfiltre" class="dropdown dropdown-lg">
	<button id="btnFiltre" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span style="margin-right: 3px">Filtrer les annonces</span><span class="caret"></span></button>
	<div id="divfiltreHome" class="dropdown-menu dropdown-menu-right fontFamilyNote" role="menu">
		<div id="div2-filtreHome">
			<form class="form-horizontal" role="form">
				<div id="div1-loyer-fh" class="form-group col-xs-12">
					<div class="flex">
						<label for="filter" class="childFlex centerText">Loyer</label>
					</div>
					<div id="div2-1-loyer-fh" class="col-sm-12">
						<div id="div-2-1-1-loyer-fh">
							<select id="select1-loyer-fh" class="form-control">
								<option value="0" selected="">Loyer min</option>
								@for (var i = 0; i < 1000; i++)
								{
									<option value=@i>@i €</option>
									i += 49;
								}
								@for (var i = 1000; i < 2000; i++)
								{
									<option value=@i>@i €</option>
									i += 99;
								}
							</select>
							<select id="select2-loyer-fh" class="form-control ">
								<option value="0" selected="">Loyer max</option>
								@for (var i = 100; i < 1000; i++)
								{
									<option value=@i>@i €</option>
									i += 49;
								}
								@for (var i = 1000; i < 2000; i++)
								{
									<option value=@i>@i €</option>
									i += 99;
								}
								<option value="2000">2000 et +</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">Choix d'implantation</label><br />
					<select class="form-control">
						<option value="0" selected>Peu importe</option>
						<option value="1">Campagne</option>
						<option value="2">Ville/village</option>
					</select>
				</div>
				<div class="col-xs-6 form-group dropdown">
					<label id="lbTypesLogement-filtre" for="filter">Types de logement</label><br>
					<div class="div1-multiList" onclick="displayMultiListe('listTypeLogement-fal')">
						<div id="div1-1-multiList">
							<p id="titleTypesLogement-fal" class="titleChoixMultiples-fal">Choix multiples</p>
						</div>
						<div id="div1-2-multiList">
							<span class="caret"></span>
						</div>
					</div>
					<div id="listTypeLogement-fal" class="dropdown-content div2-multiList">
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<i class="fas fa-times pointer unCheck-fal"
								   onclick="unCheckedAllItem_fal('.checkboxTypesLogement-fal', '#titleTypesLogement-fal')"></i>
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="Tous_colocataires" onclick="unCheckedAllItem_fal('.checkboxTypesLogement-fal', '#titleTypesLogement-fal')"
									   class="pointer">Tout décocher</label>
							</div>
						</div>
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<input id="chkEcoHabitat-fal" type="checkbox" class="checkboxTypesLogement-fal" value="1"
									   onchange="checkIfIsChecked_fal('.checkboxTypesLogement-fal', '#lbTypesLogement-filtre', '#titleTypesLogement-fal')">
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="chkEcoHabitat-fal">Habitat insolite</label>
							</div>
						</div>
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<input id="chkAppartement-fal" type="checkbox" class="checkboxTypesLogement-fal" value="1"
									   onchange="checkIfIsChecked_fal('.checkboxTypesLogement-fal', '#lbTypesLogement-filtre', '#titleTypesLogement-fal')">
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="chkAppartement-fal">Appartement</label>
							</div>
						</div>
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<input id="chkMaison-fal" type="checkbox" class="checkboxTypesLogement-fal" value="1"
									   onchange="checkIfIsChecked_fal('.checkboxTypesLogement-fal', '#lbTypesLogement-filtre', '#titleTypesLogement-fal')">
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="chkMaison-fal">Maison</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">Superficie du logement</label><br />
					<select class="form-control">
						<option value="0">Peu importe</option>
						@for (var i = 20; i < 160; i++)
						{
							<option value=@i>@i m²  et +</option>
							i += 9;
						}
						@for (var i = 200; i < 550; i++)
						{
							<option value=@i>@i m² et +</option>
							i += 49;
						}
					</select>
				</div>
				<div class="col-xs-6 form-group dropdown">
					<label for="filter" id="lbNbPiece-filtre">Nombre de piece</label><br>
					<div class="div1-multiList" onclick="displayMultiListe('listNbPiece-fal')">
						<div id="div1-1-multiList">
							<p id="titleNbPiece-fal" class="titleChoixMultiples-fal">Choix multiples</p>
						</div>
						<div id="div1-2-multiList">
							<span class="caret"></span>
						</div>
					</div>
					<div id="listNbPiece-fal" class="dropdown-content div2-multiList">
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<i class="fas fa-times pointer unCheck-fal"
								   onclick="unCheckedAllItem_fal('.checkboxNbPiece-fal', '#titleNbPiece-fal')"></i>
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="Tous_colocataires" onclick="unCheckedAllItem_fal('.checkboxNbPiece-fal', '#titleNbPiece-fal')"
									   class="pointer">Tout décocher</label>
							</div>
						</div>
						@for (var i = 1; i <= 8; i++)
						{
							<div class="div2-1-multiList">
								<div class="div2-2-multiList col-xs-2">
									<input id="chk+@i-fal" type="checkbox" class="checkboxNbPiece-fal" value="1"
										   onchange="checkIfIsChecked_fal('.checkboxNbPiece-fal', '#lbNbPiece-filtre', '#titleNbPiece-fal')">
								</div>
								<div class="div2-3-multiList col-xs-10">
									@if (i == 1)
									{
										<label for="chk+@i-fal">1 pièce</label>
									}
									else if (i == 8)
									{
										<label for="chkAppartement-fal">@i pièces et plus</label>
									}
									else
									{
										<label for="chk+@i-fal">@i pièces</label>
									}
								</div>
							</div>
						}
					</div>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">
						Accès aux transports en communs
					</label><br />
					<select class="form-control">
						<option value="0" selected>Peu importe</option>
						<option value="1">Oui</option>
						<option value="2">Non</option>
					</select>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">Disponibilité de la chambre</label><br />
					<select class="form-control">
						<option value="0" selected>Peu importe</option>
						<option value="5">Maintenant</option>
						<option value="4">Dans 1 semaine ou moins</option>
						<option value="3">Dans 2 semaine ou moins</option>
						<option value="2">Dans 1 mois ou moins</option>
						<option value="1">Dans 2 mois ou moims</option>
						<option value="1">Dans plus de 2 mois</option>
					</select>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">Superficie de la chambre</label><br />
					<select class="form-control">
						<option value="0">Peu importe</option>
						@for (var i = 5; i <= 21; i++)
						{
							<option value=@i>@i m²  et +</option>
							i += 4;
						}
					</select>
				</div>
				<div class="col-xs-6 form-group dropdown">
					<label id="lbNbRoomDispo-filtre" for="filter">Nombre de chambre disponible</label><br>
					<div class="div1-multiList" onclick="displayMultiListe('listNbRoomDispo-fal')">
						<div id="div1-1-multiList">
							<p id="titleNbRoomDispo-fal" class="titleChoixMultiples-fal">Choix multiples</p>
						</div>
						<div id="div1-2-multiList">
							<span class="caret"></span>
						</div>
					</div>
					<div id="listNbRoomDispo-fal" class="dropdown-content div2-multiList">
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<i class="fas fa-times pointer unCheck-fal"
								   onclick="unCheckedAllItem_fal('.checkboxNbRoomDispo-fal', '#titleNbRoomDispo-fal')"></i>
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="Tous_colocataires" onclick="unCheckedAllItem_fal('.checkboxNbRoomDispo-fal', '#titleNbRoomDispo-fal')"
									   class="pointer">Tout décocher</label>
							</div>
						</div>
						@for (var i = 1; i < 5; i++)
						{
							<div class="div2-1-multiList">
								<div class="div2-2-multiListdiv2-2-multiList col-xs-2">
									<input id="@i-NbRoomDispo" type="checkbox" class="checkboxNbRoomDispo-fal" value="@i"
										   onchange="checkIfIsChecked_fal('.checkboxNbRoomDispo-fal', '#lbNbRoomDispo-filtre', '#titleNbRoomDispo-fal')">
								</div>
								<div class="div2-3-multiList col-xs-10">
									@if (i != 4)
									{
										if (i == 1)
										{
											<label for="@i-NbRoomDispo">@i chambre</label>
										}
										else
										{
											<label for="@i-NbRoomDispo">@i chambres</label>
										}
									}
									else
									{

										<label for="@i-NbRoomDispo">@i chambres et plus</label>
									}
								</div>
							</div>
						}
					</div>
				</div>
				<div class="col-xs-6 form-group dropdown">
					<label id="lbNbColoc-filtre" for="filter">Nombre de colocataires</label><br>
					<div class="div1-multiList" onclick="displayMultiListe('listnbColoc-fal')">
						<div id="div1-1-multiList">
							<p id="titleNbColoc-fal" class="titleChoixMultiples-fal">Choix multiples</p>
						</div>
						<div id="div1-2-multiList">
							<span class="caret"></span>
						</div>
					</div>
					<div id="listnbColoc-fal" class="dropdown-content div2-multiList">
						<div class="div2-1-multiList">
							<div class="div2-2-multiList col-xs-2">
								<i class="fas fa-times pointer unCheck-fal"
								   onclick="unCheckedAllItem_fal('.checkboxNbColoc-fal', '#titleNbColoc-fal')"></i>
							</div>
							<div class="div2-3-multiList col-xs-10">
								<label for="Tous_colocataires" onclick="unCheckedAllItem_fal('.checkboxNbColoc-fal', '#titleNbColoc-fal')"
									   class="pointer">Tout décocher</label>
							</div>
						</div>
						@for (var i = 2; i < 8; i++)
						{
							<div class="div2-1-multiList">
								<div class="div2-2-multiListdiv2-2-multiList col-xs-2">
									<input id="@i-NbColoc" type="checkbox" class="checkboxNbColoc-fal" value="@i"
										   onchange="checkIfIsChecked_fal('.checkboxNbColoc-fal', '#lbNbColoc-filtre', '#titleNbColoc-fal')">
								</div>
								<div class="div2-3-multiList col-xs-10">
									@if (i != 7)
									{
										<label for="@i-NbColoc">@i colocataires</label>
									}
									else
									{

										<label for="@i-NbColoc">Plus</label>
									}
								</div>
							</div>
						}
					</div>
				</div>
				<div class="col-xs-6 form-group">
					<label for="filter">Date de publication</label><br />
					<select class="form-control">
						<option value="0" selected>Peu importe</option>
						<option value="5">Ajoutée aujourd'hui</option>
						<option value="4">Depuis de 3 jours</option>
						<option value="3">Depuis une semaine</option>
						<option value="2">Depuis 2 semaine</option>
						<option value="1">Depuis un mois</option>
						<option value="1">Depuis plus d'un mois</option>
					</select>
				</div>
				<div class="col-xs-12 flex">
					<div class="col-xs-12 childFlex" id="commoditeUnderDiv-fal">
						<h4 class="centerText underTitle">Commodités</h4>
						<div class="flex flexWrap">
							<div class="div2-1-multiList childFlex flex" id="oneOfCommodite-fal">
								<div class="div2-2-multiList" id="chkBoxCommodite-fal">
									<input id="chkChambreMeuble-fal" type="checkbox" class="checkboxCommodites-fal" value="1">
								</div>
								<div class="div2-3-multiList">
									<label for="chkChambreMeuble-fal">Chambre meublée</label>
								</div>
							</div>
							<div class="div2-1-multiList childFlex flex" id="oneOfCommodite-fal">
								<div class="div2-2-multiList" id="chkBoxCommodite-fal">
									<input id="chkAnimaux-fal" type="checkbox" class="checkboxCommodites-fal" value="1">
								</div>
								<div class="div2-3-multiList">
									<label for="chkAnimaux-fal">Animaux</label>
								</div>
							</div>
							<div class="div2-1-multiList childFlex flex" id="oneOfCommodite-fal">
								<div class="div2-2-multiList" id="chkBoxCommodite-fal">
									<input id="chkAlcool-fal" type="checkbox" class="checkboxCommodites-fal" value="1">
								</div>
								<div class="div2-3-multiList">
									<label for="chkAlcool-fal">Consommateur d'alcool</label>
								</div>
							</div>
							<div class="div2-1-multiList childFlex flex" id="oneOfCommodite-fal">
								<div class="div2-2-multiList" id="chkBoxCommodite-fal">
									<input id="chkFumeur-fal" type="checkbox" class="checkboxCommodites-fal" value="1">
								</div>
								<div class="div2-3-multiList">
									<label for="chkFumeur-fal">Fumeur</label>
								</div>
							</div>
							<div class="div2-1-multiList childFlex flex" id="oneOfCommodite-fal">
								<div class="div2-2-multiList" id="chkBoxCommodite-fal">
									<input id="chkAccesHandicape-fal" type="checkbox" class="checkboxCommodites-fal" value="1" />
								</div>
								<div class="div2-3-multiList">
									<label for="chkAccesHandicape-fal">Accessibilité handicapé</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 form-group" id="div1SubmitBtnFiltre-Al">
					<div id="div2SubmitBtnFiltre-Al" class="btnGreen">
						<a id="submitBtnFiltre-Al" href="#">Valider</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>