
@{
	ViewBag.Title = "ModalProjetCreation";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreationProjet-SearchColoc" class="reelModal">
		<div id="divMessage-ml">
			<img onclick="displayPVMessage()" src="https://img.icons8.com/material-outlined/40/000000/circled-chevron-left.png">
			<div class="col-sm-6 col-xs-12" style="padding:0">
				@Html.Partial("~/Views/SearchColoc/PartialViewMessage.cshtml")
			</div>
		</div>
		<div id="divPhoto-ml">
			<div id="div-photos-mpc" class="col-sm-6 col-xs-12">
				<div class="photo-mpc mySlides" style="background: url(https://d2v8xh2t491lqq.cloudfront.net/photos/listings/b/5/d/e/d/b5dedf6aedec903908e57c2b0877ac34cacf3227-biggest.jpg) 50% 50% no-repeat;"></div>
				<div class="photo-mpc mySlides" style="background: url(https://www.century21-ci-etampes.com/imagesBien/202/3238/c21_202_3238_13298_1_BC5D7902-0D5B-4309-B442-1150B2E3CDE2.jpg) 50% 50% no-repeat;"></div>
				<div class="photo-mpc mySlides" style="background: url(https://tel.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Eprogramme.2Etv.2Fupload.2Fepgs.2F2018.2F01.2Ftiny-house-mini-maison-a-emporter_123388556_2.2Ejpg/355x272/quality/80/tiny-house-mini-maison-a-emporter.jpg) 50% 50% no-repeat;"></div>
				<div id="d1-btnphoto-mpc">
					<div id="d1-2-btnphoto-mpc" onclick="plusDivs(-1)">
						<img src="/Content/Images/Icons/arrow-left.png">
					</div>
				</div>
				<div id="d2-btnphoto-mpc">
					<div id="d2-1-btnphoto-mpc" onclick="plusDivs(+1)">
						<img src="/Content/Images/Icons/arrow-right.png">
					</div>
				</div>
			</div>
		</div>
		<div id="div-description-mpc" class="col-sm-6 col-xs-12">
			<div id="d1-description-mpc">
				<div id="d1-description-mpc" style="display: flex;">
					<div style="margin-left: auto;margin-right: auto;display: flex;">
						<div id="d1-2-description-mpc" class="col-sm-3 col-xs-3" style="margin-left: auto;margin-right:auto">
							<div id="d1-2-1-description-mpc" style="background: url(/Content/Images/Personnes/Profil1.jpg) 50% 50% no-repeat;"></div>
						</div>
						<div id="d1-3-description-mpc" class="col-sm-6 col-xs-6" style="margin-left: auto;margin-right: auto;">
							<h4>Matias</h4>
							<p>22 ans, Indépendent</p>
							<p id="p-d1-3-description-mpc">Posté il y a 3 jours</p>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12">
					<div id="div2PersonnalitePC" style="width: initial;">
						<p style="text-align: center;">Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable.</p>
					</div>
				</div>
			</div>
			<div id="d3-description-mpc">
				<div class="d3-1-description-mpc" onclick="displayPhoneNumber('#numberPhone-mpc'/*Passer id client*/)">
					<img src="/Content/Images/Icons/phone.png">
					<span id="libelleTelephone-mpc">Afficher le numéro</span>
					<span id="numberPhone-mpc"></span>
				</div>
				<div id="d3-2-description-mpc" onclick="displayPVMessage()">
					<a href="#divMessage-ml">
						<img src="/Content/Images/Icons/message.png">Envoyer un message
					</a>
				</div>
			</div>
			<div>
				<p>
					Mon projet est de m'implanter dans les alentours de Rennes-Brocéliande, et d'y trouver des personnes souhaitant construire sa yourte.
					Le lieu est à vendre donc l'objectif premier serait de l'acheter à plusieurs pour en faire notre lieu de vie.<br /><br />
					En pleine compagne, nous y aménagerons un jardin / terrain pour y semer légumes et jolies plantes.<br /><br />
					Je cherche alors 3 autres personnes intérressées pour qu'on puisse l'acheter ensemble et soit relouer sa yourte ou bien y devenir colocataire.
					Je souhaite que cette personne soit proche de la nature, aime le partage et s'ouvre à l'autosuffisance de son habitat en
					en ne dépendant donc pas de l'énergie ou l'eau de la ville.
				</p>
			</div>
			<div id="d5-description-mpc">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">LOGEMENT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Type d'engagement</td>
							<td>Création</td>
						</tr>
						<tr>
							<td>Type d'habitat</td>
							<td>Habitat Alternatif</td>
						</tr>
						<tr>
							<td>Type de localisation</td>
							<td>Village</td>
						</tr>
						<tr>
							<td>Surface de logement</td>
							<td>~ 40 m²</td>
						</tr>
						@* Selon l'engagement *@
						<tr>
							<td>Cout de création</td>
							<td>Entre 5 000 euros et 10 euros</td>
						</tr>
						<tr>
							<td>Cout du terrain</td>
							<td>Entre 10 000 euros et 20 000 euros</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">COLOCATION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Colocataire total</td>
							<td>4</td>
						</tr>
						<tr>
							<td>Colocataires recherchés</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Tolerances</td>
							<td>Fumeur : Oui / Animaux : Oui</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">Villes concernées</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Rennes 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
						<tr>
							<td>Nouvoitou 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
						<tr>
							<td>Vern-sur-Seiche 35, Ille-et-Vilaine, Bretagne</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		<a href="#close-modal" rel="modal:close" class="close-modal ">Close</a>
	</div>
</div>
