
@{
    ViewBag.Title = "ModalCreationProjet";
}


<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreationProjet" class="reelModal col-sm-6 col-xs-12">
		@Html.Partial("~/Views/SearchColoc/PartialViewMessage.cshtml")
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>
