@{
	ViewBag.Title = "PopupPartenaire";
}

<div class="onHoverMarker" id="popupPartenaire1">
	<div class="divBlock-scpp">
		<div class="divHeader-scpp">
			<div class="flex topHeader-scpp">
				<p class="partenaireName-scpp">NomDuPartenaire</p>
				<div class="flex activityPart-scpp">
					<div class="flex childFlex">
						<i class="fas fa-shopping-cart"></i>
						<p class="nameActivityPart-scpp">NomDeLactivité</p>
					</div>
				</div>
			</div>
			<div class="flex flexWrap">
				<p>24 Rue du freyeulle, 35000 Rennes</p><p class="indicationPartenaire-scpp">Partenaire du site</p>
			</div>
		</div>
		<div class="divDescPartenaire-scpp">
			<div class="flex webSitePartenaire">
				<a href="#" class="childFlex">http://www.sitedupartenaire.com</a>
			</div>
			<p>NomDuPartenaire est une épicerie rennaise qui propose des produits alimentaires, cosmétiques, d'hygiène et d'entretien 100% végétaux et pour tout le monde !</p>
		</div>
		<div class="dotDivider"></div>
		<div>
			<p class="underTitle-scpp">Engagement écologique</p>
			<p>Tout les produits sont produits dans notre potager et une grande majorité est biologique.</p>
		</div>
		<div class="dotDivider"></div>
		<div>
			<p class="underTitle-scpp">Nos ventes acutelles</p><p>Nous vendons en ce moment un panier de legume à partir de 8€50</p>
			<div style="background: url(/Content/Images/Partenaires/PubliciteProduits/NomPartenaire01.11.2020.PNG) 50% 50% no-repeat;" class="imgProductSell-scpp"></div>
			<div class="linkImgProduct-scpp">
				<div class="flex">
					<a class="flex childFlex aStrong" href="#">
						<i id="iconDetailEvent-erevom" class="fas fa-angle-double-right"></i>
						<p class="fontFamilyNote">En savoir plus</p>
					</a>
				</div>
			</div>
		</div>
		<div class="dotDivider"></div>
		<p class="lastUpdate-scpp">Dernière mise à jour le 01/12/2012</p>
	</div>
</div>

<div class="onHoverMarker" id="popupPartenaire2">
	<div class="divBlock-scpp">
		<div class="divHeader-scpp">
			<div class="flex topHeader-scpp">
				<p class="partenaireName-scpp">NomDuPartenaire</p>
				<div class="flex activityPart-scpp">
					<div class="flex childFlex">
						<i class="fas fa-shopping-cart"></i>
						<p class="nameActivityPart-scpp">NomDeLactivité</p>
					</div>
				</div>
			</div>
			<div class="flex flexWrap">
				<p>24 Rue du freyeulle, 35000 Rennes</p><p class="indicationPartenaire-scpp">Partenaire du site</p>
			</div>
		</div>
		<div class="divDescPartenaire-scpp">
			<div class="flex webSitePartenaire">
				<a href="#" class="childFlex">http://www.sitedupartenaire.com</a>
			</div>
			<p>NomDuPartenaire est une épicerie rennaise qui propose des produits alimentaires, cosmétiques, d'hygiène et d'entretien 100% végétaux et pour tout le monde !</p>
		</div>
		<div class="dotDivider"></div>
		<div>
			<p class="underTitle-scpp">Engagement écologique</p>
			<p>Tout les produits sont produits dans notre potager et une grande majorité est biologique.</p>
		</div>
		<div class="dotDivider"></div>
		<div>
			<p class="underTitle-scpp">Nos ventes acutelles</p><p>Nous vendons en ce moment un panier de legume à partir de 8€50</p>
			<div style="background: url(/Content/Images/Partenaires/PubliciteProduits/NomPartenaire01.11.2020.PNG) 50% 50% no-repeat;" class="imgProductSell-scpp"></div>
			<div class="linkImgProduct-scpp">
				<div class="flex">
					<a class="flex childFlex aStrong" href="#">
						<i id="iconDetailEvent-erevom" class="fas fa-angle-double-right"></i>
						<p class="fontFamilyNote">En savoir plus</p>
					</a>
				</div>
			</div>
		</div>
		<div class="dotDivider"></div>
		<p class="lastUpdate-scpp">Dernière mise à jour le 01/12/2012</p>
	</div>
</div>