@model  Eco_Colocation.ViewModel.SearchColocViewModel
@{
	ViewBag.Title = "ProjetCreation";
}

@* 1. Recherches-tu des colocataires *@
@* 2. Recherches-tu un habitat *@

@* Ceux qui recherchent des colocataires *@
@* A preciser : *@
@* votre logement et sa localisation *@
@* (zone, loyer, proximité des commerces, transports, etc.) *@
@* votre mode de vie *@
@* Le type de partage recherché *@
@* Profil de colocataire que vous recherchez *@
<div id="div1PC" class="col-sm-12">
	@Html.Partial("~/Views/Shared/ProjetCreation/ProjetCreationPV.cshtml")
</div>