@model Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "ButtonsCreateAccount";
}
<p class="underTitle centerText" id="titleFinishCreateAnnonce">Finaliser l'opération avec Eco-Colocation.fr</p>
<div class="flex">
	<div id="divbtnCreate-mbca" class="childFlex">
		<div class="div2InscriptionBtn-mcar" id="div2InscriptionBtnMail-mcar" onclick="openDivElement('#createProfilWindow')">
			<i class="iconInscriptionBtn-mcar fas fa-user-circle"></i>
			<p class="textInscriptionBtn-mcar">Finaliser l'opération en s'inscirvant</p>
		</div>
		<div id="createProfilWindow">
			<div id="divCreateProfil-mcar">
				@Html.Partial("~/Views/Account/PasswordDiv.cshtml", Model)
				<div class="col-xs-12" id="divBtnCreateProfil-mcar">
					<div id="btnCreateProfil-mcar">Valider</div>
				</div>
			</div>
		</div>
		<div class="childFlex">
			<div class="div2InscriptionBtn-mcar" id="div2ConnectionWithAccount-mcar" onclick="openDivElement('#connectProfilWindow')">
				<i class="iconInscriptionBtnByAccount-mcar fas fa-sign-in-alt"></i>
				<p id="btnByConnection-bca" class="textInscriptionBtnByAccount-mcar">Finaliser l'opération en se connectant</p>
			</div>
			<div id="connectProfilWindow">
				<div id="divCreateProfil-mcar" class="divAccountInscription-bca"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#div2CreateAccount-acc").remove();

	$(".divAccountInscription-bca").load("/Account/ModalAccount #account");
	
	$("#passwordDiv").replaceWith($("#contenuPasswordDiv").html());
	$(".divPassw").css("margin", "auto");
	$("#msgMdpInfo-pd").css("text-align", "center")
	
</script>