
@{
	ViewBag.Title = "CARecherche";
}

<div class="titleForm-mcar">Inscrivez-vous et trouver votre future éco-colocation</div>
<div class="divEncadrer-mcar">
	<div class="encadrer-mcar col-sm-11 col-xs-12">
		<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
			<div class="divImgLogoHorizontal-mcar">
				<div class="divImgLogoVertical-mcar">
					<div class="imgLogo-mcar" id="ImgLogoSearch-mcar"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 divRightSideEncadrer-mcar">
			<div class="col-sm-12">
				<div id="divBudgMax-mcar" class="col-sm-4">
					<label class="lbl-mcar">Budget maximum</label>
				</div>
				<div id="divInputBudgMax" class="col-sm-7">
					<input type="number" class="input-mcar" placeholder="Entrez le buget max">
					<div class="lineinput-mcar"></div>
					<div id="euroSignBudgetMax-mcar">€</div>
				</div>
			</div>
			<div class="col-sm-12">
				<label class="lbl-mcar">Ville de recherche</label>
				@*<input type="search" id="address-input-mcar" class="address-input" placeholder="Ou recherches-tu ?" />*@
				<input id="inputSearchPlace-car" oninput="addr_searchCity(this);" autocomplete="none" type="text" class="inputSearchPlace form-control" placeholder="Où recherchez-vous ?">
				<div class="listAutoCompleteToModal"></div>
			</div>
		</div>
	</div>
</div>
@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
<div class="divEncadrer-mcar" id="divDesciptionInfo-mcar">
	<div class="encadrer-mcar col-sm-11 col-xs-12">
		<div class="col-sm-4 col-xs-12 divImgLogo-mcar">
			<div class="divImgLogoHorizontal-mcar">
				<div class="divImgLogoVertical-mcar">
					<div class="imgLogo-mcar" id="ImgInformationSup-mcar"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-xs-12" id="divGlobalPresent-mcar">
			<div class="col-sm-12" id="divDesciptionInfo2-mcar">
				<label class="lbl-mcar">Présentation de votre personnalité</label>
				<textarea class="txtareaDesc-mcar input-mcar" id="txtareaPersoP-mcar" placeholder="Présentez-vous en quelque ligne..."></textarea>
			</div>
			<div class="col-sm-12" id="divCritereRecherche-mcar">
				<label class="lbl-mcar" id="lblCritereRecherche-mcar">Information sur vos critères de recherche</label>
				<p class="lbl-mcar">[Facultatif]</p>
				<textarea class="txtareaDesc-mcar input-mcar" placeholder="Présenter le type d'éco-colocation recherchée..."></textarea>
				<textarea class="txtareaDesc-mcar input-mcar" placeholder="Présenter les pratiques écologiques envisagées..."></textarea>
			</div>
		</div>
	</div>
</div>
<div class="divEncadrer-mcar">
	<div class="encadrer-mcar col-sm-11 col-xs-12">
		<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
			<div class="divImgLogoHorizontal-mcar">
				<div class="divImgLogoVertical-mcar">
					<div class="imgLogo-mcar" id="ImgLogoPhoto-mcar"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-8 divRightSideEncadrer-mcar">
			<div id="divGlobalMsgPhoto-mcar">
				<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
				<div>
					<p>Les profils accompagnées de photos sont 7 fois plus consultés que les autres.</p>
				</div>
			</div>
			<div id="divGlobalBtnUplFile-mcar">
				<label id="btnUplFile-mcar" for="file-upload">Ajouter des photos de vous</label>
				<input id="file-upload" type="file" multiple="multiple">
			</div>
		</div>
	</div>
</div>
<div id="divGlobalResultFilesUpl-mcar">
	<ul id="divResultFilesUpl-mcar" class='all-slides'>
		@* Html généré par javascript dans la fonction showMultiplesFilesUpload() *@
	</ul>
</div>
<div id="divInscriptionButtons-mcar">
	<div class="div2InscriptionBtn-mcar" id="div2InscriptionBtnFb-mcar">
		<i class="iconInscriptionBtn-mcar fab fa-facebook"></i>
		<p class="textInscriptionBtn-mcar">Créer le profil en s'inscrivant avec Facebook</p>
	</div>

	<div class="div2InscriptionBtn-mcar" id="div2InscriptionBtnMail-mcar">
		<i class="iconInscriptionBtn-mcar fas fa-envelope"></i>
		<p class="textInscriptionBtn-mcar" onclick="openDivCreateProfil('#createProfilWindow')">Créer le profil en s'inscrivant avec un e-mail</p>
	</div>
	<div id="createProfilWindow">
		<div id="divCreateProfil-mcar">
			<div class="col-xs-10 sousDivCreateProfil-mcar">
				<label class="lbl-mcar">Utilisateur</label>
				<input type="email" placeholder="Addresse mail" class="input-mcar">
				<div class="lineinput-mcar"></div>
			</div>
			<div class="col-xs-10 sousDivCreateProfil-mcar">
				<label class="lbl-mcar">Mot de passe</label>
				<input type="password" placeholder="Entrez un mot de passe" class="input-mcar">
				<div class="lineinput-mcar"></div>
			</div>
			<div class="col-xs-10 sousDivCreateProfil-mcar">
				<label class="lbl-mcar">Mot de passe</label>
				<input type="password" placeholder="Confirmez le mot de passe" class="input-mcar">
				<div class="lineinput-mcar"></div>
			</div>
			<div class="col-xs-12" id="divBtnCreateProfil-mcar">
				<div id="btnCreateProfil-mcar">Creer mon profil</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		//initAutoComplete("#address-input-mcar");
		showMultiplesFilesUpload();
		initSlidepicture();
		showDivCritereRecherche();
	});
</script>