@{
	ViewBag.Title = "Index";
}

<div id="account">
	<div id="divAccesMembre-acc">
		<h2>Accès Membre</h2>
	</div>
	<div id="divGlobalInput-acc">
		<div class="divInputWrite-acc">
			<div class="div2InputWrite-acc">
				<i class="fa fa-envelope" aria-hidden="true"></i><input placeholder="Email" />
			</div>
		</div>
		<div class="divInputWrite-acc">
			<div class="div2InputWrite-acc">
				<i class="fa fa-lock" aria-hidden="true"></i><input placeholder="Mot de passe" />
			</div>
		</div>
	</div>
	<div id="divbtnConnexion-acc">
		<a href="@Url.Action("Index", "Account",null)" onclick="closeModal()"><div id="btnConnexion-acc">CONNEXION</div></a>
	</div>
	<a id="divMdpForget-acc" href="@Url.Action("FindAccountByEmail","Account" ,null)">
		<p>[Nom d'utilisateur / Mot de passe] Oublié ?</p>
	</a>
	<div id="divConexionExterne-acc">
		<div>
			<div><p>Ou connexion avec</p></div>
			<div id="divImgOtherCo-acc">
				<a href="#">
					<i id="btnfb-acc" class="fab fa-facebook-f"></i>
				</a>
				<a href="#"><div id="btnGoogle-acc"></div></a>
			</div>
		</div>
	</div>
	<div id="div1CreateAccount-acc">
		<div id="div2CreateAccount-acc">
			<a href="@Url.Action("ModalCreateAccount", "Account", null)" rel="modal:open" onclick="openSecondModal()">
				<p>Creer un compte</p><i class="fas fa-long-arrow-alt-right"></i>
			</a>
		</div>
	</div>
</div>