
@{
	ViewBag.Title = "ModalCreateAccount";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreateAccount" class="reelModal">
		<div>
			<div id="divInscriptionTitle-mca">
				<h3 id="title-mca" class="title">Inscription du membre</h3>
			</div>
			<div>
				<div class="divParentTypeInterest-mca" style="display: flex;">
					<a href="/Account/ModalCARecherche" rel="modal:open" onclick="openSecondModal()" class="btnGreen"><div>Je recherche</div></a>
				</div>
				<div class="flex flexWrap childFlex" id="divLinkTypeInterest-mca">
					<p onclick="openDivElement('#divUnderLinkPropose-mca');" class="btnGreen" id="linkModalCAPropose-mca">Je propose</p>
					<div class="childFlex" id="divUnderLinkPropose-mca">
						<a href="@Url.Action("ModalLocation", "ColocAnnounce", null)" rel="modal:open" onclick="openSecondModal()" class="linkProposeEcoColoc-mca centerText noLink fontFamilyNote">Une annonce de location</a>
						<a href="@Url.Action("ModalProjetCreation", "ColocAnnounce", null)" rel="modal:open" onclick="openSecondModal()" class="linkProposeEcoColoc-mca centerText noLink fontFamilyNote" id="secondLinkProposeEcoColoc-mca">Un projet de création</a>
					</div>
				</div>
				<div class="btnGreen flex childFlex" id="btnOthersSubscribe-mca">
					<a href="@Url.Action("ModalCreateEmptyAccount", "Account", null)" rel="modal:open" class="childFlex noLink">Autres</a>
				</div>
			</div>
		</div>

		<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>
	</div>
</div>

<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page', '/Modal/ModalInscription');
	});
</script>