
@{
	ViewBag.Title = "ModalAccount";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalAccount" class="reelModal">
		@Html.Partial("~/Views/Account/Index.cshtml")
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>
<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page', '/Modal/ModalConnection');
	});
</script>