
@{
	ViewBag.Title = "ModalCreateAccount";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreateAccount" class="reelModal">
		<div>
			<div id="divInscriptionTitle-mca">
				<h3 id="title-mca">
					Inscription du membre
				</h3>
			</div>
			<div>
				<div class="divParentTypeInterest-mca" style="display: flex;">
					<a href="/Account/ModalCARecherche" rel="modal:open" onclick="openSecondModal()" class="btnGreen"><div>Je recherche une éco-colocation</div></a>
				</div>
				<div class="divParentTypeInterest-mca" style="display: flex;">
					<a href="/Account/ModalCAPropose" rel="modal:open" onclick="openSecondModal()" class="btnGreen"><div>Je propose une éco-colocation</div></a>
				</div>
				<div class="btnGreen flex childFlex" id="btnOthersSubscribe-mca">
					<a href="#" class="childFlex noLink">Autres</a>
				</div>
			</div>
		</div>

		<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>
	</div>
</div>

<script language="javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page', '/Modal/ModalInscription');
	});
</script>