
@{
	ViewBag.Title = "ModalCreateEmptyAccount";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreateEmptyAccount" class="reelModal">
		<div class="titleForm-mcar" id="titleAccount-mcea">Créer un compte</div>
		@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
		
		<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>
	</div>
</div>