
@{
	ViewBag.Title = "ModalCreateAccount";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreateAccount" class="reelModal">
		<div>
			<div id="divInscriptionTitle-mca">
				<h3 id="title-mca">
					Inscription du membre
				</h3>
			</div>
			<div>
				<div class="divParentTypeInterest-mca" style="display: flex;">
					<a href="@Url.Action("ModalCARecherche","Account", null)" rel="modal:open" onclick="openSecondModal()"><div>Je recherche une éco-colocation</div></a>
				</div>
				<div class="divParentTypeInterest-mca" style="display: flex;">
					<a href="@Url.Action("ModalCAPropose","Account", null)" rel="modal:open" onclick="openSecondModal()"><div>Je propose une éco-colocation</div></a>
				</div>
			</div>
		</div>

		<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>
	</div>
</div>