
@{
	ViewBag.Title = "ModalCreateEmptyAccount";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCreateEmptyAccount" class="reelModal">
		<h2 class="title centerText" id="titleAccount-mcea">Créer un compte</h2>
		@Html.Partial("~/Views/Account/PersonalDataForm.cshtml")
		<div id="divInscriptionButtons-mcea">
			@Html.Partial("~/Views/Account/ButtonsCreateAccount.cshtml")
		</div>
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		window.history.replaceState('data to be passed', 'Title of the page', '/Modal/ModalCreateEmptyAccount');
	});
</script>