
@{
	ViewBag.Title = "ModalCARecherche";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalCARecherche" class="reelModal">
		@Html.Partial("~/Views/Account/CARecherche.cshtml")
		<a href="#close-modal" rel="modal:close" onclick="autoCompletePrepend()"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>