
@{
	ViewBag.Title = "ModalAccount";
}
<div class="underModal col-sm-12 col-xs-12">
	<div id="modalAccount" class="reelModal">
		@Html.Partial("~/Views/Account/Index.cshtml")
	</div>
</div>


@*
	Je recherche une éco-colocation
	Je propose une éco-colocation (annonce

	Je recherche :

	Nom
	Prenom
	Numéro
	Date de naissance
	Civilité (Monsieurs - Madame)
	Activités (Salarié(e), Etudient(e), Indépendant(e), Sans activité, Retraité(e), Autre)
	Pays

	Email
	Mot de passe
	Mot de passe confirm

	Photos (Les profils accompagnées de photos sont 7 fois plus consultés que les autres.)

	Je recherche une éco-colocation (Case a cocher)
	Budget maximum
	Ville de recherche
	Rayon de ... Km
	Message (Présentez-vous en quelques lignes...)

	Accepter les Termes de l'utilisateur

	S'inscription (btn)
	S'identifier (btn)

	Je propose :
*@