
@{
	ViewBag.Title = "PasswordDiv";
}

<div class="divEncadrer-mcar">
	<div class="encadrer-mcar col-sm-11 col-xs-12">
		<div class="col-sm-4 divLeftSideEncadrer-mcar divImgLogo-mcar">
			<div class="divImgLogoHorizontal-mcar">
				<div class="divImgLogoVertical-mcar">
					<i class="fas fa-key icon-ca"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-8 divRightSideEncadrer-mcar">
			<div id="divGlobalMsgPhoto-mcar">
				<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
				<div>
					<p>Votre mot de passe doit contenir entre 8 et 20 caractères, et comporter des lettres et des chiffres.</p>
				</div>
			</div>
			<div class="divPassw">
				<div class="underDivPassw">
					<div class="childFlex">
						<label class="lbl-mcar">Utilisateur</label>
						<input id="emailInpt-pd" type="text" placeholder="Votre adresse email..." class="input-mcar" disabled="disabled">
					</div>
				</div>
				<div class="underDivPassw">
					<label class="lbl-mcar">Mot de passe</label>
					<input type="password" placeholder="Entrez un mot de passe" class="input-mcar">
					<div class="lineinput-mcar"></div>
				</div>
				<div class="underDivPassw">
					<label class="lbl-mcar">Mot de passe</label>
					<input type="password" placeholder="Confirmez le mot de passe" class="input-mcar">
					<div class="lineinput-mcar"></div>
				</div>
			</div>
		</div>
	</div>
</div>