@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "Home Page";
}

<div id="home">
	<div id="partialViewEcoRoommateEvent_OnMap" class="col-sm-6 col-xs-12">
		@Html.Partial("~/Views/EcoRoommateEvent/EcoRoommateEvent_OnMap.cshtml")
	</div>
	<div id="partialViewEcoRoommateExisting_OnMap" class="col-sm-6 col-xs-12">
		@Html.Partial("~/Views/EcoRoommateExisting/EcoRoommateExisting_OnMap.cshtml")
	</div>

	<div id="partialViewPeopleSearching" class="col-xs-12">
		@Html.Partial("~/Views/PeopleSearching/Index.cshtml")
	</div>
</div><br />

<script language="javascript">
	$(document).ready(function () {
		$('#_PictureHeader').css('display', "block")
	});
</script>