@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "Home Page";
}

<div id="home">
	@*@if (Model != null && Model.HomeViewModel.TypeRecherche == "searching")
	{
		@Html.Partial("~/Views/SearchColoc/Index.cshtml", Model.SearchColocViewModel)
	}
	else if (Model != null && Model.HomeViewModel.TypeRecherche == "offering")
	{
		@Html.Partial("~/Views/ColocAnnounce/Index.cshtml", Model.ColocAnnounceViewModel)
	}*@
	<div id="partialViewEcoRoommateExisting_OnMap" class="col-sm-6 col-xs-12">
		@Html.Partial("~/Views/EcoRoommateExisting/EcoRoommateExisting_OnMap.cshtml")
	</div>

	<div id="partialViewPeopleSearching" class="col-xs-12">
		@Html.Partial("~/Views/PeopleSearching/Index.cshtml")
	</div>
</div><br />

<script language="javascript">
	$(document).ready(function () {
		$('#_PictureHeader').css('display', "block")
		
		//if ($("#typeRecherche").val() != "") {
		//	updateSwitcher();
		//}
	});
</script>