@model  Eco_Colocation.ViewModel.AllViewModel
@{
	ViewBag.Title = "Home Page";
}
@*<div>
	<a href="@Url.Action("ModalAccount","Account",null)" rel="modal:open">
		<div id="btnCreer-al">Creer un projet de création</div>
	</a>
</div>*@
<div id="home">
	@if (Model != null && Model.HomeViewModel.TypeRecherche == "searching")
	{
		@Html.Partial("~/Views/SearchColoc/Index.cshtml", Model.SearchColocViewModel)
	}
	else if (Model != null && Model.HomeViewModel.TypeRecherche == "offering")
	{
		@Html.Partial("~/Views/ColocAnnounce/Index.cshtml", Model.ColocAnnounceViewModel)
	}

	<div id="partialViewPeopleSearching">
		@Html.Partial("~/Views/PeopleSearching/Index.cshtml")
	</div>
</div><br />

<script language="javascript">
	$(document).ready(function () {
		if ($("#typeRecherche").val() != "") {
			updateSwitcher();
		}
	});
</script>