
@{
	ViewBag.Title = "ChangePassword";
}

<div id="changePassword">
	<div>
		<p>Changer de mot de passe</p>
		<label for="Nouveau_mot_de_passe_:">Nouveau mot de passe :</label>
		<input id="newMdp-mla" name="newMdp-mla" placeholder="Entrer un mot de passe" type="text" value="">
		<label for="Nouveau_mot_de_passe_:">Nouveau mot de passe :</label>
		<input id="confirmNewMdp-mla" name="confirmNewMdp-mla" placeholder="Confirmer le mot de passe" type="text" value="">
		<div>Valider</div>
	</div>
</div>

