
@{
	ViewBag.Title = "ChangePassword";
}

<div id="changePassword">
	<div id="divChangePassword-cp02" class="col-xs-12">
		<div id="title-cp02" class="title">Réinitialiser votre mot de passe</div>

		<div id="divInputPassword-cp02">
			<div id="divPasw1-cp02">
				<label class="labelPasw-cp02">Nouveau mot de passe</label>
				<div class="divInput-cp02">
					<input class="inputPasw-cp02" type="password" placeholder="Entrez un mot de passe">
					<div class="underInputPasw-cp02"></div>
				</div>
			</div>
			<div id="divPasw1-cp02">
				<label class="labelPasw-cp02">Nouveau mot de passe</label>
				<div class="divInput-cp02">
					<input class="inputPasw-cp02" type="password" placeholder="Confirmez le mot de passe">
					<div class="underInputPasw-cp02"></div>
				</div>
			</div>
		</div>

		<div class="divBtnBottom-fa">
			<div class="div2BtnBottom-fa">
				<a class="btnNext-fa noLink" href="@Url.Action("ChangePassword","Account", null)">Terminer</a>
				<a class="btnCancel-fa noLink" href="@Url.Action("Index","Home", null)">Annuler</a>
			</div>
		</div>
	</div>
</div>