
@{
	ViewBag.Title = "ChangePassword";
}
<div id="resetMdp" style="
    position: relative;
    height: 400px;
">
	<div style="
    box-shadow: 0 0 5px 0px black;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    width: 800px;
    height: min-content;
    /* height: 316px; */
">
		<div style="
    font-size: 22px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
">Réinitialiser votre mot de passe</div>

		<div style="
    display: flex;
">
			<div style="
    margin-right: 40px;
">
				<label style="
    display: block;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 100;
    ">Nouveau mot de passe</label>
				<div style="
    width: 250px;
">
					<input type="password" placeholder="Entrer un mot de passe" style="
    border: none;
    font-size: 15px;
    line-height: 1.2;
    padding: 0 5px;
    padding-bottom: 13px;
    width: 100%;
    color: #6b6a6a;
    font-weight: 100;
    background-color: transparent;
    ">
					<div style="border-bottom: 2px solid #d9d9d9;
    margin-bottom: 25px;"></div>
				</div>
			</div><div style="">
				<label style="
    display: block;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 100;
    ">Nouveau mot de passe</label>
				<div style="
    width: 250px;
">
					<input type="password" placeholder="Confirmer le mot de passe" style="
    border: none;
    font-size: 15px;
    line-height: 1.2;
    padding: 0 5px;
    padding-bottom: 13px;
    width: 100%;
    color: #6b6a6a;
    font-weight: 100;
    background-color: transparent;
    " confirmer="" le="" mot="" de="">
					<div style="border-bottom: 2px solid #d9d9d9;
    margin-bottom: 25px;"></div>
				</div>
			</div>
		</div>

		<div style="
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
">
			<div style="
    display: inline-flex;
    margin-left: auto;
">
				<a href="@Url.Action("ChangePassword","Account", null)" style="
    box-shadow: 0 0 2px black;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 15px;
    background-color: #57b846ab;
    color: white;
    text-decoration: none;
">Terminer</a>
				<a href="/home/%20index" style="
    box-shadow: 0 0 2px black;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 15px;
    text-decoration: none;
	color:black
">Annuler</a>
			</div>
		</div>
	</div>
</div>