
@{
	/**/

	ViewBag.Title = "FindAccountByEmail";
}

<div id="findAccountByEmail">
	<div id="divFindAccountByEmail-fabe" class="col-xs-12">
		<div id="div2FindAccountByEmail-fabe" style="margin-bottom: 20px;">
			<p id="title-fabe">Retrouver votre compte</p>

			<div id="divSearchAccount-fabe">
				<p id="searchAccountText-fabe">Veuillez saisir votre adresse e-mail ou identifiant pour rechercher votre compte.</p>
				<input id="inputSearchAccount-fabe" name="identifyEmail" type="email">
			</div>
		</div>
		<div class="divBtnBottom-fa">
			<div class="div2BtnBottom-fa">
				<a class="btnNext-fa" href="@Url.Action("SendCode","Account", null)">Continuer</a>
				<a class="btnCancel-fa" href="@Url.Action("Index","Home", null)">Annuler</a>
			</div>
		</div>
	</div>
</div>