
@{
	/**/

	ViewBag.Title = "AddYourEcoRoommateExisting";
}

<div id="AddYourEcoRoommateExisting">
	<h2 class="title centerText">Ajout d'une nouvelle Eco-Colocation</h2>
	<div id="divDescEco-Coloc-ayer" class="flex flexWrap">
		<div class="sousDivFormColoc-ayer" id="divLabelNomColoc-ayer">
			<label class="label-ayer">Nom *</label>
			<input class="input-ayer" placeholder="Determiner un nom à votre colocation">
			<div class="underInput-ayer"></div>
		</div>
		<div class="sousDivFormColoc-ayer" id="divLabelNbColoc-ayer">
			<label class="label-ayer">Nombre de colocataires *</label>
			<input class="input-ayer" placeholder="Entrez le nombre" type="number" oninput="modifyMinValueToNbInfoColoc(this)">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-xs-12">
			<div class="sousDivFormColoc-ayer" id="divLocalisation-ayer">
				<label class="label-ayer">Adresse *</label>
				<div class="flex">
					<input type="search" id="address-input-ayer" oninput="addr_searchStreet(this);" class="address-input childFlex" placeholder="Entrez votre adresse de résidence.">
				</div>
				<div id="divInfoUserMdp-ayer" class="divGlobalMsgPhoto-ayer">
					<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
					<div>
						<p class="fontFamilyNote">Seul le nom de la ville sera directement visible sur la page, toutefois votre eco-colocation apparaîtra sur la carte à l'adresse fournie.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12" id="contactColoc-ayere">
			<div>
				<label class="label-ayer">Email</label>
				<input id="emailColoc-ayere" type="email" class="flex" placeholder="Mon adresse e-mail">
				<div id="divInfoUserMdp-ayer" class="divGlobalMsgPhoto-ayer">
					<i class="fas fa-info" id="iconMsgPhoto-mcar"></i>
					<div>
						<p class="fontFamilyNote">Optionnel : L'adresse email permettra aux utilisateurs de vous contacter.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
			<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<label for="presentationLogement-ml">Présentation du logement</label>
				</div>
			</div>
			<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<textarea id="presentationLogement-ml" name="descEcoPratique" placeholder="Description du logement et de sa localisation..."></textarea>
				</div>
			</div>
		</div>
		<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
			<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
		</div>
		<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
			<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<label for="personnesPresentes-ml">Présentation des personnes présentes</label>
				</div>
			</div>
			<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<textarea id="personnesPresentes-ml" name="descEcoPratique" placeholder="Caractère / façon de vivre, ..."></textarea>
				</div>
			</div>
		</div>
		<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
			<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<label for="convivialite-ml">Présentation de la convivialité commune</label>
				</div>
			</div>
			<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<textarea id="convivialite-ml" name="descEcoPratique" placeholder="Activités/intérêts en communs, capacité d’accueil, ..."></textarea>
				</div>
			</div>
		</div>
		<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
			<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<label for="organisation-ml">Présentation de l’organisation</label>
				</div>
			</div>
			<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<textarea id="organisation-ml" name="descEcoPratique" placeholder="Organisations des tâches, ressources financières, ..."></textarea>
				</div>
			</div>
		</div>
		<div id="divEcoPratic-ca" class="col-sm-12 col-xs-12">
			<div id="div1-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div1-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<label for="Pratiques__cologiques_exerc_es_par_la_colocation">Présentation des pratiques écologiques</label>
				</div>
			</div>
			<div id="div2-ecoPratic-ca" class="col-sm-12 col-xs-12">
				<div id="div2-1-ecoPratic-ca" class="col-sm-12 col-xs-12">
					<textarea id="descEcoPratique" name="descEcoPratique" placeholder="Celles que vous réalisez / que vous envisagez ..."></textarea>
				</div>
			</div>
		</div>
		<div class="childFlex overflow" id="infoChampsAnnonce-ml-mpc">
			<p class="centerText">ATTENTION : Votre texte apparaîtra en un seul bloc, merci de faire des phrases !</p>
		</div>
		<div class="col-xs-12 sousDivFormColoc-ayer">
			<div>
				<label class="label-ayer">
					Ajouter une photo à l'image de l'évènement*
				</label>
			</div>
			<label id="btnAddPicture-ayer" for="fileUpload-ayer">Ajouter des photos</label>
			<input id="fileUpload-ayer" type="file" multiple="multiple" @*onchange="uploadImgEcoRoommate();"*@>
			<div id="divGlobalResultFilesUpl-mcar">
				<div class="childFlex">
					<ul id="divResultFilesUpl-mcar" class="all-slides ui-sortable"></ul>
				</div>
			</div>
			@*<img src="" id="resultImgUpl-ayer">
				<i id="icondeletePicture-ayer" class="fas fa-times-circle" onclick="removeUploadPicture_ayer()"></i>*@
		</div>
	</div>
	<div>
		<h2 class="titleH2-ayer">
			Niveau d'implication écologique *
		</h2>
		<div>
			<div class="divFibreEco-ayer" id="divLevelEcolo1">
				<div class="flex divLevelTree-ayere">
					<div class="childFlex" id="divLevelTree-erev">
						<i class="fas fa-tree" id="treeLevel1"></i>
						<i class="fas fa-tree" id="treeLevel2"></i>
						<i class="fas fa-tree" id="treeLevel3"></i>
					</div>
				</div>
				<input type="radio" name="fibreEco" value="3" class="radioFibreEco-ayer" id="fibreEco1">
				<label for="fibreEco1" class="txtFibreEco-ayer">Essayer de réduire un minimum notre impact environnemental</label>
			</div>
			<div class="divFibreEco-ayer" id="divLevelEcolo2">
				<div class="flex divLevelTree-ayere">
					<div class="childFlex" id="divLevelTree-erev">
						<i class="fas fa-tree" id="treeLevel1"></i>
						<i class="fas fa-tree" id="treeLevel2"></i>
						<i class="fas fa-tree" id="treeLevel3"></i>
					</div>
				</div>
				<input type="radio" name="fibreEco" value="2" class="radioFibreEco-ayer" checked="" id="fibreEco2">
				<label for="fibreEco2" class="txtFibreEco-ayer">Tenter notre possible pour réduire notre impact environnemental</label>
			</div>
			<div class="divFibreEco-ayer flex" id="divLevelEcolo3">
				<div class="flex divLevelTree-ayere">
					<div class="childFlex" id="divLevelTree-erev">
						<i class="fas fa-tree" id="treeLevel1"></i>
						<i class="fas fa-tree" id="treeLevel2"></i>
						<i class="fas fa-tree" id="treeLevel3"></i>
					</div>
				</div>
				<input type="radio" name="fibreEco" value="1" class="radioFibreEco-ayer" id="fibreEco3">
				<label for="fibreEco3" class="txtFibreEco-ayer">Donner le meilleur de nous-même pour réduire notre impact environnemental</label>
			</div>
		</div>
	</div>
	<div>
		<h2 class="titleH2-ayer flex">
			Ce que l'on y fait
		</h2>
		<div>
			<div class="divParentFlexWrap-ayer">
				<div class="divChildFlexWrap-ayer">
					<div class="encadrePratice-ayer">
						<p class="txtPratice-ayer">Production alimentaire</p>
						<div class="divEnterPraticeWord-ayer">
							<input class="inputPraticeWord-ayer" placeholder="Entrez un mot clé. Ex: Bio">
							<div class="btnAddPraticeWord-ayer">Ajouter</div>
						</div>
						<div class="divDisplayPraticeWord-ayer">
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Bio">
								<p class="showTxt-ayer" name="Bio">Bio</p>
							</div>
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Permaculture">
								<p class="showTxt-ayer" name="Permaculture">Permaculture</p>
							</div>
						</div>
					</div>
				</div>
				<div class="divChildFlexWrap-ayer">
					<div class="encadrePratice-ayer">
						<p class="txtPratice-ayer">Consommation</p>
						<div class="divEnterPraticeWord-ayer">
							<input class="inputPraticeWord-ayer" placeholder="Entrez un mot clé. Ex: Local">
							<div class="btnAddPraticeWord-ayer">Ajouter</div>
						</div>
						<div class="divDisplayPraticeWord-ayer">
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Bio">
								<p name="local" class="showTxt-ayer">local</p>
							</div>
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Permaculture">
								<p name="Végétarienne" class="showTxt-ayer">Végétarienne</p>
							</div>
						</div>
					</div>
				</div>
				<div class="divChildFlexWrap-ayer">
					<div class="encadrePratice-ayer">
						<p class="txtPratice-ayer">Déplacement</p>
						<div class="divEnterPraticeWord-ayer">
							<input class="inputPraticeWord-ayer" placeholder="Entrez un mot clé. Ex: Bus">
							<div class="btnAddPraticeWord-ayer">Ajouter</div>
						</div>
						<div class="divDisplayPraticeWord-ayer">
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Bio">
								<p name="Bus" class="showTxt-ayer">Bus</p>
							</div>
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Permaculture">
								<p name="Permaculture" class="showTxt-ayer">Vélo</p>
							</div>
						</div>
					</div>
				</div>
				<div class="divChildFlexWrap-ayer">
					<div class="encadrePratice-ayer">
						<p class="txtPratice-ayer">Vie en communauté</p>
						<div class="divEnterPraticeWord-ayer">
							<input class="inputPraticeWord-ayer" placeholder="Entrez un mot clé. Ex: Repas">
							<div class="btnAddPraticeWord-ayer">Ajouter</div>
						</div>
						<div class="divDisplayPraticeWord-ayer">
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Bio">
								<p name="Repas" class="showTxt-ayer">Repas</p>
							</div>
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Permaculture">
								<p name="Partage des tâches" class="showTxt-ayer">Partage des tâches</p>
							</div>
						</div>
					</div>
				</div>
				<div class="divChildFlexWrap-ayer">
					<div class="encadrePratice-ayer">
						<p class="txtPratice-ayer">Atelier</p>
						<div></div>
						<div class="divEnterPraticeWord-ayer">
							<input class="inputPraticeWord-ayer" placeholder="Entrez un mot clé. Ex: Peinture">
							<div class="btnAddPraticeWord-ayer">Ajouter</div>
						</div>
						<div class="divDisplayPraticeWord-ayer">
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Bio">
								<p name="Peinture" class="showTxt-ayer">Peinture</p>
							</div>
							<div class="flex">
								<input class="ckboxPratice-ayer" type="checkbox" name="Permaculture">
								<p name="Sculture" class="showTxt-ayer">Fabrication low tech</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p class="labelDescSup-ayer">Ajouter une description supplémentaire</p>
				<textarea class="txtareaDescSup-ayer"></textarea>
			</div>
		</div>
	</div>
	<div>
		<h2 class="titleH2-ayer flex">
			Ce que l'on a d'écologique chez nous
		</h2>
		<div>
			<div class="divParentFlexWrap-ayer">
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/garden.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input class="ckBoxIcon-ayer" type="checkbox" name="Jardin">
							<p class="iconConnectToCkBox-ayer">Jardin</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/seed.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input class="ckBoxIcon-ayer" type="checkbox" name="Potager">
							<p class="txtIcon-ayer">Potager</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/toilet.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Toilette seche" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Toilettes sèches</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/recyclingBin.png) no-repeat;"></div>
					</div>

					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Poubelles de recyclage" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Poubelles de recyclage</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/compost.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Compost" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Compost</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/naturalhouse.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Habitat en matériaux écologiques ou recyclables" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Habitat en matériaux écologiques ou recyclables</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/heater.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Chauffage écologique" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Chauffage écologique</p>
						</div>
					</div>
				</div>
				<div class="divIconCkbox">
					<div class="flex">
						<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/waterRecycling.png) no-repeat;"></div>
					</div>
					<div class="flex">
						<div class="divParentCkbox-ayer">
							<input type="checkbox" name="Outils de recyclage des eaux" class="ckBoxIcon-ayer">
							<p class="txtIcon-ayer">Outils de recyclage des eaux</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p class="labelDescSup-ayer">Ajouter une description supplémentaire</p>
				<textarea class="txtareaDescSup-ayer"></textarea>
			</div>
		</div>
	</div>
	<div>
		<h2 class="titleH2-ayer flex">
			Ce que l'on réduit grâce à nos attitudes
		</h2>
		<div class="flex flexWrap">
			<div class="divIconCkbox">
				<div class="flex">
					<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/waterConsommation.png) no-repeat;"></div>
				</div>

				<div class="flex">
					<div class="divParentCkbox-ayer">
						<input type="checkbox" name="Notre Consommation d'eau" class="ckBoxIcon-ayer">
						<p class="txtIcon-ayer">Notre Consommation d'eau</p>
					</div>
				</div>
			</div>
			<div class="divIconCkbox">
				<div class="flex">
					<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/electricity.png) no-repeat;"></div>
				</div>

				<div class="flex">
					<div class="divParentCkbox-ayer">
						<input type="checkbox" name="Notre consommation d'électricité" class="ckBoxIcon-ayer">
						<p class="txtIcon-ayer">Notre consommation d'électricité</p>
					</div>
				</div>
			</div>
			<div class="divIconCkbox">
				<div class="flex">
					<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/wastConsommation.png) no-repeat;"></div>
				</div>

				<div class="flex">
					<div class="divParentCkbox-ayer">
						<input type="checkbox" name="Notre consommation d'électricité" class="ckBoxIcon-ayer">
						<p class="txtIcon-ayer">Nos déchets</p>
					</div>
				</div>
			</div>
			<div class="divIconCkbox">
				<div class="flex">
					<div class="iconCkbox-ayer" style="background: url(/Content/images/logos/consomationCarburant.png) no-repeat;"></div>
				</div>

				<div class="flex">
					<div class="divParentCkbox-ayer">
						<input type="checkbox" name="Notre consommation d'électricité" class="ckBoxIcon-ayer">
						<p class="txtIcon-ayer">Notre consommation de carburant</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="labelDescSup-ayer">Ajouter une description supplémentaire</p>
			<textarea class="txtareaDescSup-ayer"></textarea>
		</div>
		<div>
			<h2 class="titleH2-ayer flex">Comment est notre habitat</h2>
			<div>
				<div id="divHabitatDesc-ayer">
					<div class="childFlex">
						<label id="labelSurfaceTer-ayer">Surface du terrain</label>
						<input class="inputSurface-ayer" type="text">
					</div>
					<div class="childFlex">
						<label id="labelSurfaceHab-ayer">Surface de l'habitat</label>
						<input class="inputSurface-ayer" type="text">
					</div>
				</div>
				<p id="txtTitlePlace-ayer">Completer le nombre de pièces présentes</p>
				<div id="divPlaceResponsive-ayer">
					<div id="divPlace-ayer">
						<div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Cuisine(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Salle(s) à manger</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Salon(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Chambre(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Toilettes</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Salle(s) de bain</p></div>
						</div>
						<div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Garage(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Jardin(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Terrasse(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Balcon(s)</p></div>
							<div class="divTxtPlace-ayer"><input type="number"><p>Bureau(s)</p></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p class="labelDescSup-ayer">Ajouter une description supplémentaire</p>
				<textarea class="txtareaDescSup-ayer"></textarea>
			</div>
		</div>
		@* si admin connecté : Ne pas demander la création d'un compte eco-colocation et l'enregistrement des colocataires *@
		<div class="overflow">
			<div class="flexWrap">
				<div class="col-sm-6 col-xs-12">
					<h2 class="titleH2-ayer">Création d'un compte éco-colocation *</h2>
					<div class="flex">
						<div id="divInfoUserMdp-ayer">
							<i id="iconInfoUserMdp-ayer" class="fas fa-info"></i>
							<p class="fontFamilyNote">L'identifiant et le mot de passe seront diffusés à chaque colocataire par email.</p>
						</div>
					</div>
					<div class="overflow">
						<div class="col-xs-10 rowLabelMdp-ayer">
							<label class="label-ayer">Utilisateur</label>
							<input type="email" placeholder="Addresse mail" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>
						<div class="col-xs-10 rowLabelMdp-ayer">
							<label class="label-ayer">Mot de passe</label>
							<input type="password" placeholder="Entrez un mot de passe" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>
						<div class="col-xs-10 rowLabelMdp-ayer">
							<label class="label-ayer">Mot de passe</label>
							<input type="password" placeholder="Confirmez le mot de passe" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<h2 class="titleH2-ayer">Enregistrement des colocataires *</h2>
					<div id="divAddOthersColoc-ayer">
						<div class="input-group">
							<span class="input-group-btn">
								<button id="buttonMinusOne-ayer" disabled="" onclick="removeOneColoc_ayer()" type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</span>
							<input id="valueNbColocInfo-ayer" type="text" readonly="" name="quant[1]" class="form-control input-number" value="2" min="2">
							<span class="input-group-btn">
								<button onclick="addOneColoc_ayer()" type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					</div>
					<div id="tableColocInfo-ayer">
						<div id="coloc1-ayer">
							<div id="titleInfoColoc1-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColoc1-ayer','#infoColoc1-ayer')">
								<p class="txtColocTable-ayer">Colocataire 1 (Vous)</p>
								<i class="fas fa-long-arrow-alt-down iconTxtColocTable-ayer"></i>
							</div>
							<div id="infoColoc1-ayer" class="infoColoc-ayer">
								<div class="enterColocTable-ayer">
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Prénom</label>
										<input type="text" placeholder="Entrez votre prénom" class="input-ayer prenomColoc-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Nom</label>
										<input type="text" placeholder="Entrez votre nom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-12 divLabelInfoColoc-ayer">
										<label class="label-ayer">Email</label>
										<input type="text" placeholder="Entrez votre mail" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Date de naissance</label>
										<input type="date" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Civilité</label>
										<select class="form-control select-mcar">
											<option value="0">Monsieur</option>
											<option value="1">Madame</option>
											<option value="3">Neutre</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="coloc2-ayer">
							<div id="titleInfoColoc2-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColoc2-ayer','#infoColoc2-ayer')">
								<p class="txtColocTable-ayer">Colocataire 2</p>
								<i class="fas fa-long-arrow-alt-right iconTxtColocTable-ayer"></i>
							</div>
							<div id="infoColoc2-ayer" class="infoColoc-ayer infoColoc-ayer">
								<div class="enterColocTable-ayer">
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Prénom</label>
										<input type="text" placeholder="Entrez votre prénom" class="input-ayer prenomColoc-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Nom</label>
										<input type="text" placeholder="Entrez votre nom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-12 divLabelInfoColoc-ayer">
										<label class="label-ayer">Email</label>
										<input type="text" placeholder="Entrez votre mail" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Date de naissance</label>
										<input type="date" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6 divLabelInfoColoc-ayer">
										<label class="label-ayer">Civilité</label>
										<select class="form-control select-mcar">
											<option value="0">Monsieur</option>
											<option value="1">Madame</option>
											<option value="3">Neutre</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="addOthersColoc">
							<div id="colocCopie-ayer" style="display:none">
								<div id="titleInfoColocCopie-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColocCopie-ayer','#infoColocCopie-ayer')">
									<i class="fas fa-times crossEcoColocExisting-ayere" id="crossEcoColocExist-ayere"
									   onclick="removeSpecificColoc('colocCopie-ayer')"></i>
									<p class="txtColocTable-ayer">Colocataire exemple</p>
									<i class="fas fa-long-arrow-alt-right iconTxtColocTable-ayer"></i>
								</div>
								<div id="infoColocCopie-ayer" class="infoColoc-ayer infoColoc-ayer">
									<div class="enterColocTable-ayer">
										<div class="col-sm-6 divLabelInfoColoc-ayer">
											<label class="label-ayer">Prénom</label>
											<input type="text" placeholder="Entrez votre prénom" class="input-ayer prenomColoc-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6 divLabelInfoColoc-ayer">
											<label class="label-ayer">Nom</label>
											<input type="text" placeholder="Entrez votre nom" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-12 divLabelInfoColoc-ayer">
											<label class="label-ayer">Email</label>
											<input type="text" placeholder="Entrez votre mail" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6 divLabelInfoColoc-ayer">
											<label class="label-ayer">Date de naissance</label>
											<input type="date" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6 divLabelInfoColoc-ayer">
											<label class="label-ayer">Civilité</label>
											<select class="form-control select-mcar">
												<option value="0">Monsieur</option>
												<option value="1">Madame</option>
												<option value="3">Neutre</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="divBottomBtn-ayer">
		<div class="flex">
			<a id="btnValidateInfo-ayer" href="@Url.Action("Index", "Home", null)">Valider mes informations</a>
		</div>
		<div class="flex">
			<a id="btnCancelInfo-ayer" href="@Url.Action("Index", "Home", null)">Retour</a>
		</div>

		@* Rajouter des conditions d'affichage *@
		@if (User.Identity.IsAuthenticated)
		{
			<div class="flex">
				<a id="btnSupColoc-ayer" href="@Url.Action("ModalDeleteEcoRoommateExisting", "EcoRoommateExisting", null)" rel="modal:open">Supprimer notre éco-colocation</a>
			</div>
		}
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		showMultiplesFilesUpload("fileUpload-ayer", "divResultFilesUpl-mcar");
		initSlidepicture();
	});
</script>