
@{
	ViewBag.Title = "AddYourEcoRoommate";
}

<div id="addYourEcoRoommate">
	<p style="
		text-align: center;
		font-size: 45px;
		margin-top: 10px;
		font-family: 'Noteworthy';
		margin-bottom: 35px;
		">Ajout d'une nouvelle Eco-Colocation</p>
	<div style="
    overflow: auto;
">
		<div class="col-sm-3 sousDivFormColoc-ayer" style="
">
			<label class="label-ayer">Nom</label>
			<input class="input-ayer" placeholder="Determiner un nom à votre colocation">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-sm-3 sousDivFormColoc-ayer">
			<label class="label-ayer">Nombre de colocataires</label>
			<input class="input-ayer" placeholder="Entrer le nombre de colocataires" oninput="modifyMinValueToNbInfoColoc(this)">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-sm-3 sousDivFormColoc-ayer">
			<label class="label-ayer">Date de création</label>
			<input class="input-ayer" type="date" style="
    height: 30px;
">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-xs-12 sousDivFormColoc-ayer" style="margin-bottom: 25px;">
			<label class="label-ayer">Description de votre éco-colocation</label>
			<textarea style="
    display: block;
    width: 99%;
    min-width: 99%;
    max-width: 99%;
    margin: 0px;
    height: 100px;
    min-height: 100px;
    border: none;
    box-shadow: 0 0 2px 0px black;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px 10px;
    margin-left: 2px;
"></textarea>
		</div>
		<div class="col-sm-3 sousDivFormColoc-ayer">
			<label class="label-ayer">Adresse</label>
			<input class="input-ayer" placeholder="Entrer votre adresse">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-sm-3 sousDivFormColoc-ayer">
			<label class="label-ayer">Code postal</label>
			<input class="input-ayer" placeholder="Entrer le code postal">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-sm-3 sousDivFormColoc-ayer">
			<label class="label-ayer">Ville</label>
			<input class="input-ayer" placeholder="Entrer le nom de la ville">
			<div class="underInput-ayer"></div>
		</div>
		<div class="col-xs-12 sousDivFormColoc-ayer" style="
">
			<label class="label-ayer">Ajouter une photo à l'image de votre éco-colocation</label>

			<label id="file-upload-ayer" style="
    padding: 7px;
    box-shadow: 0 0 5px 0px black;
    text-align: center;
    border-radius: 8px;
    width: 230px;
    cursor: pointer;
    font-weight: 100;
    max-width: 500px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
	display:block
">Ajouter une photo</label>
			<input id="file-upload-ayer" type="file" />
			<div id="divResultFilesUpl-ayer"></div>
		</div>
	</div>




	<div style="
">
		<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 25px;
">
			Notre fibre écologique
		</h2>
		<div style="
">
			<div style="
    display: flex;
">
				<input type="radio" name="fibreEco" value="1" class="radioFibreEco-ayer">
				<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Donner le meilleur de nous-même pour réduire au maximum notre impact écologique</p>
			</div>
			<div style="
    display: flex;
">
				<input type="radio" name="fibreEco" value="2" class="radioFibreEco-ayer" style="
" checked="">
				<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Tenter notre possible pour réduire notre impact écologique</p>
			</div>
			<div style="
    display: flex;
">
				<input type="radio" name="fibreEco" value="3" class="radioFibreEco-ayer">
				<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Essayer de réduire un minimum notre impact écologique</p>
			</div>
		</div>
	</div>
	<div>
		<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 25px;
">
			Ce que l'on y fait
		</h2>
		<div>
			<div style="
    display: flex;
    flex-wrap: wrap;
">
				<div style="
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
">
					<div style="
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 275px;
    max-height: 220px;
    overflow: hidden;
">
						<p style="
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555555;
    font-family: Noteworthy;
    font-size: 18px;
">Production alimentaire</p>
						<div></div>
						<div style="
    display: flex;
    margin-bottom: 10px;
">
							<input placeholder="Entrer un mot clé. Ex: Bio" style="
    border: none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    height: 30px;
    font-family: Noteworthy;
    width: 175px;
">
							<div style="
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 11px;
">Ajouter</div>
						</div>
						<div style="
    max-height: 128px;
    overflow: auto;
">
							<div style="
    display: flex;
">
								<input type="checkbox" name="Bio" style="
    margin-right: 15px;
">
								<p name="Bio" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Bio</p>
							</div>
							<div style="
    display: flex;
">
								<input type="checkbox" name="Permaculture" style="
    margin-right: 15px;
">
								<p name="Permaculture" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Permaculture</p>
							</div>
						</div>
					</div>
				</div>
				<div style="
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
">
					<div style="
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 275px;
    max-height: 220px;
    overflow: hidden;
">
						<p style="
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555555;
    font-family: Noteworthy;
    font-size: 18px;
">Consommation</p>
						<div></div>
						<div style="
    display: flex;
    margin-bottom: 10px;
">
							<input placeholder="Entrer un mot clé. Ex: Local" style="
    border: none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    height: 30px;
    font-family: Noteworthy;
    width: 175px;
">
							<div style="
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 11px;
">Ajouter</div>
						</div>
						<div style="max-height: 128px;overflow: auto;">
							<div style="
    display: flex;
">
								<input type="checkbox" name="Bio" style="
    margin-right: 15px;
">
								<p name="local" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">local</p>
							</div>
							<div style="
    display: flex;
">
								<input type="checkbox" name="Permaculture" style="
    margin-right: 15px;
">
								<p name="Végétarienne" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Végétarienne</p>
							</div>









						</div>
					</div>
				</div>
				<div style="
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
">
					<div style="
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    margin-right: auto;
    max-width: 275px;
    max-height: 220px;
    overflow: hidden;
">
						<p style="
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555555;
    font-family: Noteworthy;
    font-size: 18px;
">Déplacement</p>
						<div></div>
						<div style="
    display: flex;
    margin-bottom: 10px;
">
							<input placeholder="Entrer un mot clé. Ex: Bus" style="
    border: none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    height: 30px;
    font-family: Noteworthy;
    width: 175px;
">
							<div style="
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 11px;
">Ajouter</div>
						</div>
						<div style="
    max-height: 128px;
    overflow: auto;
">
							<div style="
    display: flex;
">
								<input type="checkbox" name="Bio" style="
    margin-right: 15px;
">
								<p name="Bus" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Bus</p>
							</div>
							<div style="
    display: flex;
">
								<input type="checkbox" name="Permaculture" style="
    margin-right: 15px;
">
								<p name="Permaculture" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Vélo</p>
							</div>
						</div>
					</div>
				</div>
				<div style="
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
">
					<div style="
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 275px;
    max-height: 220px;
    overflow: hidden;
">
						<p style="
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555555;
    font-family: Noteworthy;
    font-size: 18px;
">Vie en communauté</p>
						<div></div>
						<div style="
    display: flex;
    margin-bottom: 10px;
">
							<input placeholder="Entrer un mot clé. Ex: Repas" style="
    border: none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    height: 30px;
    font-family: Noteworthy;
    width: 175px;
">
							<div style="
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 11px;
">Ajouter</div>
						</div>
						<div style="
    max-height: 128px;
    overflow: auto;
">
							<div style="
    display: flex;
">
								<input type="checkbox" name="Bio" style="
    margin-right: 15px;
">
								<p name="Repas" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Repas</p>
							</div>
							<div style="
    display: flex;
">
								<input type="checkbox" name="Permaculture" style="
    margin-right: 15px;
">
								<p name="Partage des tâches" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Partage des tâches</p>
							</div>
						</div>
					</div>
				</div>
				<div style="
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
">
					<div style="
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 275px;
    max-height: 220px;
    overflow: hidden;
">
						<p style="
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555555;
    font-family: Noteworthy;
    font-size: 18px;
">Atelier</p>
						<div></div>
						<div style="
    display: flex;
    margin-bottom: 10px;
">
							<input placeholder="Entrer un mot clé. Ex: Peinture" style="
    border: none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 2px black;
    height: 30px;
    font-family: Noteworthy;
    width: 175px;
">
							<div style="
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 11px;
">Ajouter</div>
						</div>
						<div style="
    max-height: 128px;
    overflow: auto;
">
							<div style="
    display: flex;
">
								<input type="checkbox" name="Bio" style="
    margin-right: 15px;
">
								<p name="Peinture" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Peinture</p>
							</div>
							<div style="
    display: flex;
">
								<input type="checkbox" name="Permaculture" style="
    margin-right: 15px;
">
								<p name="Sculture" style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
">Fabrication low tech</p>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div>
				<p style="
    padding-left: 5px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    margin-bottom: 10px;
">Ajouter une description supplémentaire (facultatif)</p>
				<textarea style="display: block;min-width: 100%;max-width: 100%;margin: 2px 0px 0px 2px;height: 50px;min-height: 50px;border: none;box-shadow: black 0px 0px 2px 0px;border-radius: 5px;padding: 5px 10px;"></textarea>
			</div>
		</div>
	</div>
	<div>
		<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 25px;
">
			Ce que l'on a d'écologique chez nous
		</h2>


		<div>
			<div style="display: flex;flex-wrap: wrap;">
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/garden.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;
">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Jardin" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Jardin</p>
						</div>
					</div>
				</div>

				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/garden.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;
">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Potager" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Potager</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/compost.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;
">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Toilette seche" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
    text-align: center;
">Toilettes sèches</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/recyclingBin.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Potager" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Poubelles de recyclage</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/compost.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Compost" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Compost</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/naturalhouse.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Potager" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Habitat en matériaux écologiques ou recyclables</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/heater.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Potager" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Chauffage écologique</p>
						</div>
					</div>
				</div>
				<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
					<div style="
    display: flex;
">
						<div style="
    background: url(../../content/images/logos/waterRecycling.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
					</div>

					<div style="
    display: flex;">
						<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
							<input type="checkbox" name="Potager" style="
    margin-right: 15px;
    margin-top: 6px;
">
							<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Outils de recyclage des eaux</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p style="
    padding-left: 5px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    margin-bottom: 10px;
">Ajouter une description supplémentaire (facultatif)</p>
				<textarea style="
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: 2px 0px 0px 2px;
    height: 50px;
    min-height: 50px;
    border: none;
    box-shadow: black 0px 0px 2px 0px;
    border-radius: 5px;
    padding: 5px 10px;
"></textarea>
			</div>
		</div>
	</div>
	<div>
		<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 25px;
">
			Ce que l'on réduit grâce à nos attitudes
		</h2>
		<div style="
    display: flex;
    flex-wrap: wrap;
">
			<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
				<div style="
    display: flex;
">
					<div style="
    background: url(../../content/images/logos/waterConsommation.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
				</div>

				<div style="
    display: flex;
">
					<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
						<input type="checkbox" name="Notre Consommation d'eau" style="
    margin-right: 15px;
    margin-top: 6px;
">
						<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Notre Consommation d'eau</p>
					</div>
				</div>
			</div>

			<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
				<div style="
    display: flex;
">
					<div style="
    background: url(../../content/images/logos/electricity.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
				</div>

				<div style="
    display: flex;
">
					<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
						<input type="checkbox" name="Notre consommation d'électricité" style="
    margin-right: 15px;
    margin-top: 6px;
">
						<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Notre consommation d'électricité</p>
					</div>
				</div>
			</div>
			<div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
				<div style="
    display: flex;
">
					<div style="
    background: url(../../content/images/logos/wastConsommation.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
				</div>

				<div style="
    display: flex;
">
					<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
						<input type="checkbox" name="Notre consommation d'électricité" style="
    margin-right: 15px;
    margin-top: 6px;
">
						<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Nos déchets</p>
					</div>
				</div>
			</div><div style="
    margin-right: 30px;
    padding: 10px;
    width: 200px;
">
				<div style="
    display: flex;
">
					<div style="
    background: url(../../content/images/logos/consomationCarburant.png) no-repeat;
    height: 60px;
    background-size: 60px;
    margin-bottom: 10px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
"></div>
				</div>

				<div style="
    display: flex;
">
					<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
						<input type="checkbox" name="Notre consommation d'électricité" style="
    margin-right: 15px;
    margin-top: 6px;
">
						<p style="
    font-size: 18px;
    color: #555555;
    font-family: Noteworthy;
    text-align: center;
">Notre consommation de carburant</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p style="
    padding-left: 5px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 10px;
">Ajouter une description supplémentaire (facultatif)</p>
			<textarea style="
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin: 2px 0px 0px 2px;
    height: 50px;
    min-height: 50px;
    border: none;
    box-shadow: black 0px 0px 2px 0px;
    border-radius: 5px;
    padding: 5px 10px;
"></textarea>
		</div>

		<div style="
    overflow: auto;
">
			<div style="
    flex-wrap: wrap;
">
				<div style="
    overflow: auto;
" class="col-sm-6 col-xs-12">
					<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    /* margin-bottom: 25px; */
">
						Création d'un compte éco-colocation
					</h2>
					<div style="
    display: flex;
">
						<div style="
    display: flex;
    padding: 8px 10px;
    box-shadow: 0 0 2px 0px black;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 15px;
">
							<i class="fas fa-info" style="
	width: 20px;
    font-size: 20px;"></i>
							<p>L'identifiant et le mot de passe sera diffusé à chaque colocataire par email.</p>
						</div>
					</div>

					<div style="
    overflow: auto;
">
						<div class="col-xs-10" style="
    padding: 0;
">
							<label class="label-ayer">Utilisateur</label>
							<input type="email" placeholder="Addresse mail" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>
						<div class="col-xs-10" style="
    padding: 0;
">
							<label class="label-ayer">Mot de passe</label>
							<input type="password" placeholder="Entrer un mot de passe" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>
						<div class="col-xs-10" style="
    padding: 0;
">
							<label class="label-ayer">Mot de passe</label>
							<input type="password" placeholder="Confirmer le mot de passe" class="input-ayer">
							<div class="underInput-ayer"></div>
						</div>

					</div>

				</div>
				<div class="col-sm-6 col-xs-12">
					<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 25px;
">
						Enregistrement des colocataires
					</h2>
					<div id="divAddOthersColoc" style="
    width: 130px;
    margin-bottom: 15px;
">
						<div class="input-group">
							<span class="input-group-btn">
								<button id="buttonMinusOne-ayer" disabled onclick="removeOneColoc_ayer()" type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</span>
							<input id="valueNbColocInfo" style="
    text-align: center;" type="text" readonly name="quant[1]" class="form-control input-number" value="2" min="2">
							<span class="input-group-btn">
								<button onclick="addOneColoc_ayer()" type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					</div>
					<div id="tableColocInfo-ayer" style="
    border-radius: 9px;
    overflow: auto;
    padding: 0 1px;
    box-shadow: 0 0 3px black;
    width: 380px;
    max-width: 100%;
    margin-bottom: 2px;
">
						<div id="coloc1-ayer" style="
">
							<div id="titleInfoColoc1-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColoc1-ayer','#infoColoc1-ayer')" style="
    box-shadow: 0 0 3px black;
    padding: 10px;
    margin-bottom: 1px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    padding-left: 25px;
	background-color: #C4D102;
	color: white;
	cursor: pointer;
    display: flex;
    position: relative;
"><p style="user-select: none;">Colocataire 1</p>
  <i class="fas fa-long-arrow-alt-down" style="position: absolute;right: 20px;line-height: 27px;"></i>
							</div>
							<div id="infoColoc1-ayer" class="infoColoc-ayer" style="overflow: hidden;max-height:500px;transition: max-height 1000ms;">
								<div style="padding: 10px 0">
									<div class="col-sm-6">
										<label class="label-ayer">Prénom</label>
										<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Nom</label>
										<input type="text" placeholder="Entrer votre nom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Email</label>
										<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Date de naissance</label>
										<input type="date" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6" style="height: 91px;">
										<label class="label-ayer">Civilité</label>
										<select class="form-control" style="
    margin-bottom: 33px;">
											<option value="0">Monsieur</option>
											<option value="1">Madame</option>
										</select>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Activités</label>
										<select class="form-control" style="
    margin-bottom: 33px;">
											<option value="0">Salarié(e)</option>
											<option value="1">Etudient(e)</option>
											<option value="2">Indépendant(e)</option>
											<option value="3">Sans activité</option>
											<option value="4">Retraité(e)</option>
											<option value="5">Autre</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="coloc2-ayer">
							<div id="titleInfoColoc2-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColoc2-ayer','#infoColoc2-ayer')" style="
    box-shadow: 0 0 3px black;
    padding: 10px;
    margin-bottom: 1px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    padding-left: 25px;
	cursor: pointer;
    display: flex;
    position: relative;
"><p style="user-select: none;">Colocataire 2</p>
  <i class="fas fa-long-arrow-alt-right" style="position: absolute;right: 20px;line-height: 27px;"></i>
							</div>
							<div id="infoColoc2-ayer" class="infoColoc-ayer" style="overflow: hidden;max-height:0;transition: max-height 1000ms;">
								<div style="padding: 10px 0">
									<div class="col-sm-6">
										<label class="label-ayer">Prénom</label>
										<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Nom</label>
										<input type="text" placeholder="Entrer votre nom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Email</label>
										<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Date de naissance</label>
										<input type="date" class="input-ayer">
										<div class="underInput-ayer"></div>
									</div>
									<div class="col-sm-6" style="height: 91px;">
										<label class="label-ayer">Civilité</label>
										<select class="form-control" style="
    margin-bottom: 33px;">
											<option value="0">Monsieur</option>
											<option value="1">Madame</option>
										</select>
									</div>
									<div class="col-sm-6">
										<label class="label-ayer">Activités</label>
										<select class="form-control" style="
    margin-bottom: 33px;">
											<option value="0">Salarié(e)</option>
											<option value="1">Etudient(e)</option>
											<option value="2">Indépendant(e)</option>
											<option value="3">Sans activité</option>
											<option value="4">Retraité(e)</option>
											<option value="5">Autre</option>
										</select>
									</div>
								</div>
							</div>

						</div>
						<div id="addOthersColoc">
							<div id="colocCopie-ayer" style="display:none">
								<div id="titleInfoColocCopie-ayer" class="titleInfoColocs-ayer" onclick="openThisColocRow_ayer('#titleInfoColocCopie-ayer','#infoColocCopie-ayer')" style="
    box-shadow: 0 0 3px black;
    padding: 10px;
    margin-bottom: 1px;
    font-size: 18px;
    color: #555555;
    font-weight: 100;
    padding-left: 25px;
	cursor: pointer;
    display: flex;
    position: relative;
"><p style="user-select: none;">Colocataire exemple</p>
  <i class="fas fa-long-arrow-alt-right" style="position: absolute;right: 20px;line-height: 27px;"></i>
								</div>
								<div id="infoColocCopie-ayer" class="infoColoc-ayer" style="overflow: hidden;max-height:0;transition: max-height 1000ms;">
									<div style="padding: 10px 0">
										<div class="col-sm-6">
											<label class="label-ayer">Prénom</label>
											<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6">
											<label class="label-ayer">Nom</label>
											<input type="text" placeholder="Entrer votre nom" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6">
											<label class="label-ayer">Email</label>
											<input type="text" placeholder="Entrer votre prénom" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6">
											<label class="label-ayer">Date de naissance</label>
											<input type="date" class="input-ayer">
											<div class="underInput-ayer"></div>
										</div>
										<div class="col-sm-6" style="height: 91px;">
											<label class="label-ayer">Civilité</label>
											<select class="form-control" style="
    margin-bottom: 33px;">
												<option value="0">Monsieur</option>
												<option value="1">Madame</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label class="label-ayer">Activités</label>
											<select class="form-control" style="
    margin-bottom: 33px;">
												<option value="0">Salarié(e)</option>
												<option value="1">Etudient(e)</option>
												<option value="2">Indépendant(e)</option>
												<option value="3">Sans activité</option>
												<option value="4">Retraité(e)</option>
												<option value="5">Autre</option>
											</select>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

	<div style="
    margin-top: 30px;
">
		<div style="
    display: flex;
">
			<a href="/" rel="modal:open" style="
    margin-left: auto;
    margin-right: auto;
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
    box-shadow: 0 0 3px 0px black;
    padding: 2px 12px;
    border-radius: 3px;
    ">Valider mes informations</a>
		</div>
		<div style="
    display: flex;
">
			<a style="
    margin-left: auto;
    margin-right: auto;
    background-color: #C4D102;
    font-family: 'Noteworthy';
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
    box-shadow: 0 0 3px 0px black;
    padding: 2px 12px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 150px;
    text-align: center;
    " href="/EcoRoommateExisting/EcoRoommateExisting_OnMap">Retour</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		uploadPhotoEcoColocationExisting()
	});
</script>