
@{
	/**/

	ViewBag.Title = "EcoRoommateExisting_OnMap";
}

<div id="EcoRommateExisting_OnMap">
	<div>
		<div id="title-ereom">Les éco-colocations existantes</div>
		<div id="descEcoRoom-ereom" class="fontFamilyNote">
			Une éco-colocation c'est avant tout une envie de vivre ensemble, de creer un
			mode de vie le plus saint possible pour soit, la communauté et son environnement.
		</div>
	</div>
	<div style="
    display: flex;
    margin-bottom: 15px;
">
		<div class="divSommaireLogo-ereom">
			<img src="../Content/Images/Logos/markerColocExisting.png" class="imgSommaireLogo-ereom">
			<p class="fontFamilyNote txtSommaireLogo-ereom">Les éco-colocations existantes</p>

		</div>
		<div class="divSommaireLogo-ereom">
			<img src="../Content/Images/Logos/markerEvenement.png" class="imgSommaireLogo-ereom">
			<p class="fontFamilyNote txtSommaireLogo-ereom">Les événements à venir</p>

		</div>
	</div>
	<div id="divMapEcoRoom-ereom">
		<div id="leafletMap_ereo" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0">
		</div>
	</div>
</div>

<div class="ecoRommateExisting-ereom">
	<div class="ecoRommateExisting2-ereom">
		<div class="divMarkerPhoto-ereom col-md-5 col-xs-5">
			<div class="markerPhoto-ereom"
				 style="background: url(https://www.domoskit.com/wp-content/uploads/2017/05/matheus-ferrero-228716-unsplash-thegem-blog-default.jpg) 50% no-repeat">
			</div>
		</div>
		<div class="description-ereom col-md-7 col-xs-7">
			<p class="nameColoc-ereom">Colokitri</p>
			<div class="infoPrimaire-ereom">
				<p class="fontFamilyNote">Crée depuis le 01/02/2019</p>
				<p class="fontFamilyNote">4 Colocataire(s)</p>
			</div>
			<p class="descriptionHabitat-ereom fontFamilyNote">Une maison paille, un potager, 5 poules et deux chats et 4 colocataires</p>
		</div>
	</div>
	<div id="divLinkDetailEvent-erevom">
		<a id="linkDetailEvent-erevom" href="@Url.Action("EcoRoommateExistingVisual","EcoRoommateExisting", null)">
			<i id="iconDetailEvent-erevom" class="fas fa-angle-double-right"></i>
			<p class="fontFamilyNote">En savoir plus</p>
		</a>
	</div>
</div>

<div id="divBtnAddOurEcoRoom-ereom">
	<a id="btnAddOurEcoRoom-ereom" class="btn waves-light waves-effect" href="@Url.Action("AddYourEcoRoommateExisting","EcoRoommateExisting")">Ajouter notre éco-colocation</a>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		loadEcoRoommateExistingAndEventMap();
	});
</script>

