
@{
	ViewBag.Title = "EcoRoommateVisual";
}
<div id="ecoRoommateExistingVisual">
	<p style="
		text-align: center;
		font-size: 45px;
		margin-top: 10px;
		margin-bottom: 15px;
	">Colokitri</p>
	<div id="divTopInfoEcoColoc" style="display:flex;margin-top: 25px;margin-bottom: 15px;">
		<div id="divTopInfoEcoColoc2" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap: wrap;width: 100%;">
			<div style="display:flex;margin-bottom:10px;" class="col-sm-4 col-xs-12">
				<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
					<i class="iconTopPage-erev fas fa-users"></i>
					<p style="
		font-size: 18px;
	">4 Personnes</p>
				</div>
			</div>
			<div style="display:flex;margin-bottom:10px;" class="col-sm-4 col-xs-12">
				<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
					<i class="iconTopPage-erev fas fa-map-marker-alt"></i>
					<p style="
		font-size: 18px;
	">Romanier-pondir</p>
				</div>
			</div>
			<div style="display:flex;margin-bottom:10px;" class="col-sm-4 col-xs-12">
				<div style="
    display: flex;
    margin-left: auto;
    margin-right: auto;
">
					<i class="iconTopPage-erev fas fa-calendar-alt"></i>
					<p style="
		font-size: 18px;
	">20/07/2016</p>
				</div>
			</div>
		</div>
	</div>
	<div style="
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: cursive;
">Une maison paille, un potager, 5 poules et deux chats</div>
	<div>
		<img src="https://www.domoskit.com/wp-content/uploads/2017/05/matheus-ferrero-228716-unsplash-thegem-blog-default.jpg" style="
    width: 100%;
">
	</div>
	<div style="
    margin-top: 15px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: 'Noteworthy';
">
		Une maison paille, un potager, 5 poules et deux chats et 4 colocataires pour une vie écologique. Au cœur de Romanier-pondir, notre éco-colocation a vu le jour en Juillet 2016. Elle s'est fondée sur l’envie de vivre ensemble en ayant le minimun d’impacts négatifs possibles sur notre environnement. Nous nous nourrissons essentiellement de produits bio et locaux pour une alimentation majoritairement végétarienne. Le point fort : le jardin ! De plus nos poules offrent quotidiennement des œufs. Nous partons faire nos courses avec sacs en vrac et bocaux que nous nous empressons de remplir dans notre cuisine commune. Qui dit cuisine commune, dit courses communes : nous achetons pour l’ensemble de la colocation et partageons les frais sur un compte commun ou chaque coloc verse sa part du mois. Et qui dit mutualisation dit réduction des coûts, réduction accentuée par la volonté de faire par exemple des économies d’énergie. (Par exemple nous avons troqué notre gros frigo contre un petit et nous envisageons de nous en passer définitivement). Nous avons bien sûr remplacé le maximum d’ampoules possible par des lampes basse consommation et nous tentons de garder au mieux la chaleur pour ne pas allumer les radiateurs. Enfin, notre colocation se fonde sur le vivre ensemble. Nous ne comptons pas ce que nous faisonsou donnons (notamment d’un point devue pécuniaire), chaque personne étant libre de son implication. L’essentiel est de s'assurer que tout le monde trouve sa place pour bien vivre ensemble.
	</div>

	<div style="
    margin-top: 20px;
">
		<div>
			<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
">
				Notre engagement écologique
			</h2>
			<p style="
    text-align: center;
    font-size: 22px;
    font-family: cursive;
">"Tenter notre possible pour un bon impact sur l'environnement"</p>
		</div>
		<div style="
">
			<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
">
				Ce qu'on y fait
			</h2>

			<div style="
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    flex-wrap: wrap;
">
				<div style="
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
">
					<p style="
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
">Agriculture</p>
					<div style="
    background: url(../../content/images/logos/agriculture.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>

					<p style="
    text-align: center;
    font-family: Noteworthy;
">Bio</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Permaculture</p>
				</div>
				<div style="
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
">
					<p style="
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
">Consommation</p>
					<div style="
    background: url(../../content/images/logos/food.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Bio</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Végétarien</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Local</p>
				</div>
				<div style="
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
">
					<p style="
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
">Déplacement</p>
					<div style="
    background: url(../../content/images/logos/direction.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Bus</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Vélo</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Marche</p>
				</div>

				<div style="
    width: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
">
					<p style="
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
">Vie en communauté</p>
					<div style="
    background: url(../../content/images/logos/people.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Repas</p>
					<p style="
    text-align: center;
    font-family: Noteworthy;
">Partage des tâches</p>
				</div>
			</div>

			<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
">
				Ce que l'on a d'écologie chez nous
			</h2>
			<p style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 20px;
">Nos matériels</p>
			<div style="
    display: flex;
    flex-wrap: wrap;
">

				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/garden.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Potager</p>
				</div>
				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/recyclingBin.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Poubelle de recyclage</p>
				</div>
				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/compost.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Toilette seches</p>
				</div>
				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/naturalhouse.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Habitat en matériaux écologique ou recyclable</p>
				</div>
				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/heater.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Chauffage écologique</p>
				</div>
				<div style="
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
">
					<div style="
    background: url(../../content/images/logos/waterRecycling.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Outils de recyclage des eaux</p>
				</div>
				<div style="margin-left: auto;margin-right: auto;width: 200px;text-align: center;">
					<div style="
    background: url(../../content/images/logos/bike.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
"></div>
					<p style="
    text-align: center;
    font-size: 18px;
">Vélos</p>
				</div>
			</div>
			<p style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 20px;
">Nos attitudes</p>
			<div>
				<div>
					<div></div>
					<p>Notre consommation d'eau</p>
				</div>
				<div>
					<div></div>
					<p>Notre consommation en électricité</p>
				</div>
				<div>
					<div></div>
					<p>Nos déchets</p>
				</div>
				<div>
					<div></div>
					<p>Notre consommation d'émission C02 des véhicules</p>
				</div>
				<div>
					<div></div>
					<p>Notre consommation alimentaire</p>
				</div>
			</div>
			<h2 style="
    color: #00C2D6;
    font-family: Noteworthy;
    font-weight: bold;
    margin-bottom: 15px;
">
				Comment est notre habitat
			</h2>
			<div>
				<p>Surface habitat</p>
				<p>Surface terrain</p>
			</div>
			<p>Les différentes pièces</p>
			<div>
				<p>1 cuisine</p>
				<p>1 salle à manger</p>
				<p>1 salon</p>
				<p>4 chambre</p>
				<p>1 wc </p>
				<p>1 salle de bain</p>
				<p>1 bureau</p>
				<p>1 openSpace</p>
				<p>1 garage</p>
				<p>1 jardin</p>
				<p>1 poulaller</p>
				<p>1 terrasse</p>
				<p>2 balcon</p>
			</div>
		</div>
	</div>
</div>