
@{
	ViewBag.Title = "ModalDeleteEcoRoommate";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalDeleteEcoRoommate" class="reelModal">
		<h2 id="titleTop-mder">Vous êtes sur le point de supprimer votre eco-colocation "Colokitri" de la carte. Confirmez-vous ?</h2>		
		<div class="flex">
			<div style="margin-left:auto;flex-wrap: wrap;display: flex;">
				<div class="divBtn-mder">
					<a id="btnCancelInfo-mder" href="@Url.Action("AddYourEcoRoommate", "EcoRoommateExisting", null)">Annuler</a>
				</div>
				<div class="divBtn-mder">
					<a id="btnDeleteInfo-mder" href="@Url.Action("Index", "Home", null)">Oui, supprimer</a>
				</div>
			</div>
		</div>
	</div>
</div>
