
@{
	ViewBag.Title = "ProjetCreationPV";
}

<a id="projetCreationPVLink-1" href='@Url.Action("ModalProjetCreation","SearchColoc", new { @idModal = 1})' rel="modal:open" class="col-sm-11 col-xs-12">
	<div id="div1-1PC">
		<div id="div2PC" class="fontFamilyNote">
			<div id="div1ProfilPC" class="col-sm-4">
				<div id="divIdentitePC" class="col-sm-12 col-xs-6">
					<div id="divPhotoProfilPC" class="col-sm-5 col-xs-5">
						<div id="photoProfilPC"></div>
					</div>
					<div id="div0DecriptionIdentitePC">
						<div id="div1DecriptionIdentitePC">
							<div id="div2DecriptionIdentitePC">
								<p>Matias.</p>
								<p>indépendent</p>
								<p>22 ans</p>
							</div>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12 col-xs-6">
					<div id="div2PersonnalitePC" class="div2PersonnaliteColorPC">
						<p id="personnalityProfilPC">Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable. J'aime m'amuser et partager des bons moments entres amis.</p>
					</div>
				</div>
				<div id="div1InscriptionPC" class="col-sm-12 col-xs-12">
					<div id="div11InscriptionPC" class="col-sm-12 col-xs-5">
						<div id="div2InscriptionPC">
							<div>Membre depuis hier</div>
						</div>
						<div id="logoPl">
							<i class="fas fa-eye imgToCheck-ps" id="eyesImg-ps"></i>
							<i class="far fa-envelope imgToCheck-ps"></i>
						</div>
					</div>
				</div>
			</div>
			<div id="div1DescriptionPC" class="col-sm-8">
				<h3>Maison à la campagne et jardin bio</h3>
				<p id="div1Desc-title-pc">Recherche 3 personnes pour un projet yourte</p>
				<div id="div2DescriptionPC">
					<p>
						Mon projet est de m'implanter dans les alentours de Rennes-Brocéliande, et d'y trouver des personnes souhaitant construire sa yourte.
						Le lieu est à vendre donc l'objectif premier serait de l'acheter à plusieurs pour en faire notre lieu de vie.<br /><br />
						En pleine compagne, nous y aménagerons un jardin / terrain pour y semer légumes et jolies plantes.<br /><br />
						Je cherche donc 3 autres personnes intérressées pour qu'on puisse...
					</p>
				</div>
			</div>
		</div>
	</div>
</a>
<a id="projetCreationPVLink-2" href='@Url.Action("ModalProjetCreation","SearchColoc", new { @idModal = 2})' rel="modal:open" class="col-sm-11 col-xs-12">
	<div id="div1-1PC">
		<div id="div2PC" class="fontFamilyNote">
			<div id="div1ProfilPC" class="col-sm-4">
				<div id="divIdentitePC" class="col-sm-12 col-xs-6">
					<div id="divPhotoProfilPC" class="col-sm-5 col-xs-5">
						<div id="photoProfilPC"></div>
					</div>
					<div id="div0DecriptionIdentitePC">
						<div id="div1DecriptionIdentitePC">
							<div id="div2DecriptionIdentitePC">
								<p>Matias.</p>
								<p>indépendent</p>
								<p>22 ans</p>
							</div>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12 col-xs-6">
					<div id="div2PersonnalitePC" class="div2PersonnaliteColorPC">
						<p id="personnalityProfilPC">Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable. J'aime m'amuser et partager des bons moments entres amis.</p>
					</div>
				</div>
				<div id="div1InscriptionPC" class="col-sm-12 col-xs-12">
					<div id="div11InscriptionPC" class="col-sm-12 col-xs-5">
						<div id="div2InscriptionPC">
							<div>Membre depuis hier</div>
						</div>
						<div id="logoPl">
							<i class="fas fa-eye imgToCheck-ps" id="eyesImg-ps"></i>
							<i class="far fa-envelope imgToCheck-ps"></i>
						</div>
					</div>
				</div>
			</div>
			<div id="div1DescriptionPC" class="col-sm-8">
				<h3>Maison à la campagne et jardin bio</h3>
				<p id="div1Desc-title-pc">Recherche 3 personnes pour un projet yourte</p>
				<div id="div2DescriptionPC">
					<p>
						Mon projet est de m'implanter dans les alentours de Rennes-Brocéliande, et d'y trouver des personnes souhaitant construire sa yourte.
						Le lieu est à vendre donc l'objectif premier serait de l'acheter à plusieurs pour en faire notre lieu de vie.<br /><br />
						En pleine compagne, nous y aménagerons un jardin / terrain pour y semer légumes et jolies plantes.<br /><br />
						Je cherche donc 3 autres personnes intérressées pour qu'on puisse...
					</p>
				</div>
			</div>
		</div>
	</div>
</a>

<script language="javascript">
	$(document).ready(function () {
		lineMaxToShow("#personnalityProfilPC")
	});
</script>