
@{
	ViewBag.Title = "ProjetCreationPV";
}

<a href='@Url.Action("ModalProjetCreation","SearchColoc",null)' rel="modal:open" class="col-sm-10 col-xs-12">
	<div id="div1-1PC">
		<div id="div2PC">
			<div id="div1ProfilPC" class="col-sm-4">
				<div id="divIdentitePC" class="col-sm-12 col-xs-6">
					<div id="divPhotoProfilPC" class="col-sm-5 col-xs-5">
						<div id="photoProfilPC"></div>
					</div>
					<div id="div0DecriptionIdentitePC" class="col-sm-7 col-xs-7">
						<div id="div1DecriptionIdentitePC">
							<div id="div2DecriptionIdentitePC">
								<p>Matias.</p>
								<p>indépendent</p>
								<p>22 ans</p>
							</div>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12 col-xs-6">
					<div id="div2PersonnalitePC">
						<p>Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable a...</p>
					</div>
				</div>
				<div id="div1InscriptionPC" class="col-sm-12 col-xs-12">
					<div id="div11InscriptionPC" class="col-sm-12 col-xs-5">
						<div id="div2InscriptionPC" class="col-sm-8 col-xs-8">
							<div>Membre depuis hier</div>
						</div>
						<div id="div1IconInscriptionPC" class="col-sm-4 col-xs-4">
							<div id="div1IconInscriptionPC">
								<img src="https://img.icons8.com/small/32/000000/visible.png">
								<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div1DescriptionPC" class="col-sm-8">
				<h3>Maison à la campagne et jardin bio</h3>
				<p id="div1Desc-title-pc">Recherche 3 personnes pour un projet yourte</p>
				<div id="div2DescriptionPC">
					<p>
						Mon projet est de m'implanter dans les alentours de Rennes-Brocéliande, et d'y trouver des personnes souhaitant construire sa yourte.
						Le lieu est à vendre donc l'objectif premier serait de l'acheter à plusieurs pour en faire notre lieu de vie.<br /><br />
						En pleine compagne, nous y aménagerons un jardin / terrain pour y semer légumes et jolies plantes.<br /><br />
						Je cherche donc 3 autres personnes intérressées pour qu'on puisse...
					</p>
				</div>
			</div>
		</div>
	</div>
</a>
<a href='@Url.Action("ModalProjetCreation","SearchColoc",null)' rel="modal:open" class="col-sm-10 col-xs-12">
	<div id="div1-1PC">
		<div id="div2PC">
			<div id="div1ProfilPC" class="col-sm-4">
				<div id="divIdentitePC" class="col-sm-12 col-xs-6">
					<div id="divPhotoProfilPC" class="col-sm-5 col-xs-5">
						<div id="photoProfilPC"></div>
					</div>
					<div id="div0DecriptionIdentitePC" class="col-sm-7 col-xs-7">
						<div id="div1DecriptionIdentitePC">
							<div id="div2DecriptionIdentitePC">
								<p>Matias.</p>
								<p>indépendent</p>
								<p>22 ans</p>
							</div>
						</div>
					</div>
				</div>
				<div id="div1PersonnalitePC" class="col-sm-12 col-xs-6">
					<div id="div2PersonnalitePC">
						<p>Etudiant dans les soins énergétiques. J'ai un tempérament calme et à la fois très sociable a...</p>
					</div>
				</div>
				<div id="div1InscriptionPC" class="col-sm-12 col-xs-12">
					<div id="div11InscriptionPC" class="col-sm-12 col-xs-5">
						<div id="div2InscriptionPC" class="col-sm-8 col-xs-8">
							<div>Membre depuis hier</div>
						</div>
						<div id="div1IconInscriptionPC" class="col-sm-4 col-xs-4">
							<div id="div1IconInscriptionPC">
								<img src="https://img.icons8.com/small/32/000000/visible.png">
								<img src="https://img.icons8.com/cotton/64/000000/new-post.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="div1DescriptionPC" class="col-sm-8">
				<h3>Maison à la campagne et jardin bio</h3>
				<p id="div1Desc-title-pc">Recherche 3 personnes pour un projet yourte</p>
				<div id="div2DescriptionPC">
					<p>
						Mon projet est de m'implanter dans les alentours de Rennes-Brocéliande, et d'y trouver des personnes souhaitant construire sa yourte.
						Le lieu est à vendre donc l'objectif premier serait de l'acheter à plusieurs pour en faire notre lieu de vie.<br /><br />
						En pleine compagne, nous y aménagerons un jardin / terrain pour y semer légumes et jolies plantes.<br /><br />
						Je cherche donc 3 autres personnes intérressées pour qu'on puisse...
					</p>
				</div>
			</div>
		</div>
	</div>
</a>