
@{
	ViewBag.Title = "ModalDeleteEcoRoommateEvent";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="ModalDeleteEcoRoommateExisting" class="reelModal">
		<h2 id="titleTop-mder">Suppression de votre évenement</h2>
		<h2 id="titleTop-mder">Vous êtes sur le point de supprimer l'événement du site web. Confirmez-vous l'opération ?</h2>
		<div class="flex">
			<div style="margin-left:auto;flex-wrap: wrap;display: flex;">
				<div class="divBtn-mder">
					<a href="#close-modal" rel="modal:close" class="closeModal" id="btnCancelInfo-mder">Annuler</a>
				</div>
				<div class="divBtn-mder">
					<a id="btnDeleteInfo-mder" href="@Url.Action("Index", "Home", null)">Oui, je confirme</a>
				</div>
			</div>
		</div>
	</div>
</div>
