
@{
	ViewBag.Title = "ModalGoingOrInterested";
}

<div class="underModal col-sm-12 col-xs-12">
	<div id="modalGoingOrInterested" class="reelModal">
		@Html.Partial("~/Views/EcoRoommateEvent/PartialGoingOrInterested.cshtml")
	</div>
	<div class="divCloseModal">
		<a href="#close-modal" rel="modal:close"><i class="fas fa-times close-modal"></i></a>
	</div>
</div>
