
@{
	ViewBag.Title = "PartialGoingOrInterested";
}
<h2 class="title" id="title-mgoi">Valider votre intéret ou votre participation</h2>
<div>
	<div id="divEmail-mgoi">
		<div class="col-sm-12 divLabelInfoColoc-ayer">
			<label class="label-mgoi">Email</label>
			<input type="text" placeholder="Entrez votre mail" class="input-mgoi">
			<div class="underInput-mgoi"></div>
			<div id="divCGU-mgoi" class="flex">
				@Html.CheckBox("cbxConditionGeneral-mgoi")
				<a href="#" id="btnCGU-mgoi">Accepter les conditions générales d'utilisation</a>
			</div>
			<div class="flex">
				<div class="btnGreen childFlex" onclick="checkIfEmailExistingInDB()">Valider</div>
			</div>
		</div>
	</div>
	<div class="enterColocTable-mgoi overflow" id="infoSup-mgoi">
		<div class="overflow">
			<p class="title" id="titleAfterEmail-mgoi">Merci de faire connaitre votre identité :</p>
			<div class="col-sm-6 divLabelInterestedEvent-mgoi">
				<label class="label-ayer">Prénom</label>
				<input type="text" placeholder="Entrez votre prénom" class="input-mgoi">
				<div class="underInput-mgoi"></div>
			</div>
			<div class="col-sm-6 divLabelInterestedEvent-mgoi">
				<label class="label-ayer">Nom</label>
				<input type="text" placeholder="Entrez votre nom" class="input-mgoi">
				<div class="underInput-mgoi"></div>
			</div>
			<div class="col-sm-6 divLabelInterestedEvent-mgoi">
				<label class="label-ayer">Date de naissance</label>
				<input type="date" class="input-mgoi">
				<div class="underInput-mgoi"></div>
			</div>
			<div class="col-sm-6 divLabelInterestedEvent-mgoi">
				<label class="label-mgoi">Civilité</label>
				<select class="form-control select-mgoi">
					<option value="0">Monsieur</option>
					<option value="1">Madame</option>
					<option value="3">Neutre</option>
				</select>
			</div>
		</div>
		<div class="flex" id="divBtnSaveNoModal-mgoi">
			<a id="btnSave-mgoi" class="btnGreen childFlex closeModal"
			   onclick="validateListEventChoose('#divInterested-merev')">Enregistrer</a>
		</div>
		<div>
			<div class="flex" id="divBtnSave-mgoi">
				<a id="btnSave-mgoi" class="btnGreen childFlex closeModal" rel="modal:close" href="#close-modal"
				   onclick="validateListEventChoose('.leafletDivEcoRommateEvent')">Enregistrer</a>
			</div>
		</div>
	</div>
</div>