
@{
	ViewBag.Title = "AnnonceLocationPV";
}

<div id="divContenerBlocAnnonce" class="flex">
	<div id="divBlocAnnonce" class="col-xs-12">
		<div id="annonce1-alpv" class="divBlocAnnonce1-ereom">
			<div id="divBlocAnnonce2" class="col-sm-12 col-xs-12">
				<a id="annonceLocationPVLink-1" href="@Url.Action("ModalLocation","SearchColoc", new { @idModal = "1" })" rel="modal:open">
					<div id="underAnnonce2-alpv" class="col-md-12 col-sm-12 divAnnonceColoc">
						<div id="div2AnnonceColoc" class="col-md-12 col-sm-12 col-xs-12">
							<input id="valueGps10" name="valueGps10" type="hidden" value="46.89, 2.67">
							<div id="divPrixAnnonce">
								<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
							</div>
							<div id="annonceColoc" class="col-md-12">
								<div id="annonceColoc" class="col-md-4 col-sm-4 col-xs-12">
									<div id="photoAnnonce" class="col-md-12 col-sm-12 col-xs-12">
										<div id="photoAnnonce" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/pictures/1fcfb11b21b7a9b1246992c16d340f7c_medium.jpg) 50% 50% no-repeat;"></div>
									</div>
								</div>
								<div id="divContenDescriptionAnnonce" class="col-md-8 col-sm-8 col-xs-12">
									<div id="descriptionAnnonce" class="col-md-12 col-sm-12 col-xs-12">
										<h4>Maison 5 pièces de 80 m²</h4>
										<p class="fontFamilyNote" id="textTopDescriptionArt">Colocation de 5 personnes</p>
										<p class="fontFamilyNote" id="textDescriptionArt">
											Nous recherchons 2 hommes pour amener une mixité dans la colocation et qui seraient interressés pour co-habiter avec ...
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div id="annonce2-alpv" class="divBlocAnnonce1-ereom">
			<div id="divBlocAnnonce2" class="col-sm-12 col-xs-12">
				<a id="annonceLocationPVLink-2" href="@Url.Action("ModalLocation","SearchColoc", new { @idModal = "2" })" rel="modal:open">
					<div id="underAnnonce2-alpv" class="col-md-12 col-sm-12 divAnnonceColoc">
						<div id="div2AnnonceColoc" class="col-md-12 col-sm-12 col-xs-12">
							<input id="valueGps10" name="valueGps10" type="hidden" value="46.89, 2.67">
							<div id="divPrixAnnonce">
								<div id="prixAnnonce">340€<span id="rentCosts">/mois</span></div>
							</div>
							<div id="annonceColoc" class="col-md-12">
								<div id="annonceColoc" class="col-md-4 col-sm-4 col-xs-12">
									<div id="photoAnnonce" class="col-md-12 col-sm-12 col-xs-12">
										<div id="photoAnnonce" style="background: url(https://lcdcfrance-prod.s3.amazonaws.com/pictures/1fcfb11b21b7a9b1246992c16d340f7c_medium.jpg) 50% 50% no-repeat;"></div>
									</div>
								</div>
								<div id="divContenDescriptionAnnonce" class="col-md-8 col-sm-8 col-xs-12">
									<div id="descriptionAnnonce" class="col-md-12 col-sm-12 col-xs-12">
										<h4>Maison 5 pièces de 80 m²</h4>
										<p class="fontFamilyNote" id="textTopDescriptionArt">Colocation de 5 personnes</p>
										<p class="fontFamilyNote" id="textDescriptionArt">
											Nous recherchons 2 hommes pour amener une mixité dans la colocation et qui seraient interressés pour co-habiter avec ...
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div id="divOthersAnnounces-alpv" class="overflow">

		</div>
		<div class="btnGreen childFlex" id="btnOtherAnnonceLocation-alpv" onclick="showOthersAnnounces()">
			<p id="txtShowNewEvent-alpv">Voir plus d'annonces</p>
			<div class="flex"><i class="fas fa-sort-down childFlex" id="iconShowNewEvent-alpv"></i></div>
		</div>
	</div>
</div>
